:root{
    --primary-color: #5B3803;
    --secondary-color: #CB9235;
    --white-color:#ffffff;
    --primary-font: 'IM Fell DW Pica';
    --secondary-font: 'Cherry Swash';
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1209815369502691358/fBG1.png?ex=65e84b5d&is=65d5d65d&hm=ba735212e0868e5e4046870418c2914d90487ee11907e659a7d68b04519b7f02&=&format=webp&quality=lossless&width=1440&height=561) ;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* NAVBAR SECTION */

.nav2{
    display: none;
}

.container img{
    width: 5rem;
}

.navigation-wrap{
    background-color: #feedbee9;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 1.75rem 0 rgba(65, 59, 59, 0.09);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    padding: 0 0.125rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-nav a{
        transition: 1s;
}

.navbar-nav a:hover{
    transform: scale(1.1);
    z-index: 2;
}

.nav-link{
    font-family:var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color)!important;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 0.175rem 0 #d68c1c66;
    transition: all .15s ease-in-out 0s;
}

.cuf{
    font-family: cherry swash;
    color: var(--primary-color);
}

/* .............-----faq------............ */

.faq{
    margin-top: 6rem;
    margin-bottom: 5vh;
}

.faq h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.accordion-button{
    background-color: transparent;
    box-shadow: 2px 2px 8px #5B3803;
    color: var(--primary-color);
    font-family: var(--primary-font);
    outline: none;
    border: none;
}

.accordion-button:not(.collapsed){
    background: #5B3803;
    box-shadow: none;
    color: var(--white-color);
}

.accordion{
    --bs-accordion-btn-color: #5B3803;
    --bs-accordion-active-color: #5B3803 ;
}

text-emphasis
.accordion-button:focus{
    box-shadow: 2px 2px 8px #5B3803;
    outline: none;
    border: none;
}

.accordion-item{
    background-color: transparent !important;
    color: var(--primary-color);
    font-family: var(--primary-font);
    border: none;
    box-shadow: 0px 2px 0 #5b38036c;
}


@media screen and (max-width:1152px) {
    .btn{
        margin-left: 1vh;
    }
}

@media screen and (max-width:1152px) {
    .faq {
        margin-top: 7vh;
        margin-bottom: 3vh;
    }

    .container{
        max-width: 863px;
    }
}

@media screen and (max-width:915px){
    
    .container {
        max-width: 714px;
    }

    .faq {
        margin-top: 12rem;
        margin-bottom: 8vh;
    }

    .faq h1{
        font-size: 3.5rem;
    }

    .accordion-button{
        font-size: 1.5rem;
        height: 5rem;
    }

    .accordion-collapse{
        font-size: 1.5rem;
    }

    .btn{
        margin-left: 2vh;
    }
}

@media screen and (max-width:830px){
    .faq {
        margin-top: 11rem;
    }
}

@media screen and (max-width:768px){
    .faq {
        margin-top: 10rem;
        margin-bottom: 4vh;
    }
}

@media screen and (max-width: 540px){

    .faq {
        margin-top: 5vh;
        margin-bottom: 4vh;
    }

    .faq h1 {
        font-size: 2rem;
    }

    .container {
        max-width: 442px;
    }

    .accordion-button{
        font-size: 1rem;
        height: 3.5rem;
    }

    .accordion-collapse{
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px){

    .faq {
        margin-top: 10rem;
        margin-bottom: 6vh;
    }

    .faq h1 {
        font-size: 2.5rem;
    }

    .container {
        max-width: 372px;
    }

    .accordion-button{
        height: 4rem;
    }
}

@media screen and (max-width: 415px){
    .faq {
        margin-top: 9rem;
    }
}

@media screen and (max-width:380px){
    .faq {
        margin-top: 7rem;
        margin-bottom: 6vh;
    }

    .faq h1 {
        font-size: 2rem;
    }

    .container {
        max-width: 300px;
    }

    .accordion-button{
        font-size: 0.85rem;
        height: 3.5rem;
    }

    .accordion-collapse{
        font-size: 0.8rem;
    }

}