@media screen and (max-width:1344px) {
    /* common */

    .mobile{
        display: none;
    }

    /* home section */
    #home{
        height: 95vh;
    }

    .as p{
        padding-top: 1rem;
    }

    .background-images h2{

        line-height: 6vh;
    }

    #pr{
        height: 82vh;
    }

    .btp{
        margin-top: 404px;
    }

    .potter{
        position: absolute;
        margin-left: 75rem;
        margin-top: 6rem ;
        height: 5rem;
        animation:  xp-axis 10s infinite linear ;
    }
    
    @keyframes yp-axis{
        50%{
            transform: translateY(280px);
        }
    }
    
    @keyframes xp-axis{
        50%{
            transform: translateX(-300px);
        }
    }
    
    @keyframes y-axis{
        50%{
            transform: translateY(200px);
        }
    }
    
    @keyframes x-axis{
        50%{
            transform: translateX(100px);
        }
    }

    /* about section */

    #about{
        height: 59vh;
    }

    .as h1{
        top: 0;
    }

    /* hackathon track section */

    #ht{
        height: 97vh;
    }

    .ht-sub{
        padding-top: 13vh;
    }

    .t1 {
        margin-top: 4vh;
        margin-bottom: 3vh;
    }

    /* prizes section */


    .prizes h1{
        margin-top: 3vh;
    }

    .txt1{
        margin-top: 12vh;
    }

    .txt2{
        margin-top: 15vh;
    }

    .txt3{
        margin-top: 12vh;
    }

    /* past sponsors section */

    #ps{
        height: 169vh;
    }

    .logos{
        height: 70vh;
    }

    .r1{
        width: 65%;
    }

    .r2{
        width: 38%;
    }

    .r3{
        width: 95%;
    }
    
    .r4{
        width: 90%;
    }

    .r5{
        width: 60%;
    }

    #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
        height: 7vh;
    }

    #iste,#ashrae{
        height: 14vh;
    }

    #tb{
        height: 58vh;
        margin-top: 1.5vh;
    }

    #down{
        margin-top: 44vh;
    }

    /* past event section */

    #pe{
        height: 203vh;
    }

    .pe1{
        width: 105vh;
        height: 170vh;
    }

    .col{
        margin-top: 5vh;
        height: 80vh;
    }

    .row3,.row2{
        height: 130vh;
    }

    #ele1,#ele2{
        height: 40vh;
    }

    #ele3 p{
        font-size: 8vh;
        margin: 0;
    }

    #ele4 {
        height: 31vh;
    }

    #ele4 {
        height:35vh;
    }

    #ele5 p{
        font-size: 7vh ;
        margin: 0;
    }

    #ele6 {
        height: 38vh;
    }

    #ele7 {
        height: 30.1vh ;
    }

    #ele8 p{
        font-size: 7vh ;
    }

    #ele9 {
        height: 32.1vh ;
    }

    #ele10 p{
        font-size: 7vh ;
    }

    /* footer section */

    #foot{
        height: 34vh;
    }

    .f h3{
        font-weight: normal;
        font-size: 1.5rem;
    }

    .l, .bs, .add, .ce {
        margin-top: 4rem;
        margin-bottom: 0;
    }

}

@media screen and (max-width:1248px){
    /* common */

    .mobile{
        display: none;
    }

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200563796012453888/map1248.png?ex=65c6a32a&is=65b42e2a&hm=9928cd464fce3fb8c4b62539ded9a6a0404946afe6d666989ebde675c374f29f&=&format=webp&quality=lossless&width=926&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* home section */
    #home{
        height: 87vh;
    }

    .background-images h2{
        line-height: 5vh;
    }

    .btp{
        margin-top: 392px;
    }

    .btn{
        height: 3rem;
        width: 13rem;
    }

    .potter{
        position: absolute;
        margin-left: 65rem;
        margin-top: 6rem ;
        height: 5rem;
        animation:  xp-axis 10s infinite linear ;
    }
    
    @keyframes yp-axis{
        50%{
            transform: translateY(280px);
        }
    }
    
    @keyframes xp-axis{
        50%{
            transform: translateX(-280px);
        }
    }
    
    @keyframes y-axis{
        50%{
            transform: translateY(200px);
        }
    }
    
    @keyframes x-axis{
        50%{
            transform: translateX(100px);
        }
    }

    /* footer section */

    .add h3, .ce h3, .bs h3{
        font-size: 1.25rem;
    }

    .add p, .ce p, .bs p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1246px) {
    #logo {
        top: 0rem;
    }

    .background-images h2{
        font-size: 1.7rem;
        top: 17rem;
        line-height: 7vh;
    }

    .btp {
        margin-top: 373px;
    }

    #home {
        height: 101vh;
    }

    #about {
        height: 86vh;
    }

    .as h1{
        position: relative;
        top: 3vh;
    }

    #ht {
        height: 118vh;
    }

    .ht-sub {
        padding-top: 17vh;
    }

    .t11 img{
        height: 9rem;
    }

    #pr {
        height: 100vh;
    }

    .logos {
        height: 77vh;
    }

    #tb {
        height: 58vh;
        margin-top: 3.5vh;
    }

    #down {
        margin-top: 45vh;
    }

    #ps {
        height: 193vh;
    }

    #foot {
        height: 46vh;
    }

    .f {
        height: 38vh;
    }
}

@media screen and (max-width:1152px){
     /* common */

     .mobile{
        display: none;
    }

    h1{
        font-size: 1.9rem;
    }

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200563979446124686/map1152.png?ex=65c6a356&is=65b42e56&hm=51704c139112662624fa03361f7783af693db6198ff0fde20ab19bc94f0f40fc&=&format=webp&quality=lossless&width=853&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* home section */
    #home{
        height: 79vh;
    }

    #logo{
        top: 2rem;
        height: 15rem;
        width: 15rem;
    }

    .background-images h2{
        font-size: 1.7rem;
        top: 14.5rem;
        line-height: 6vh;
    }

    .btp{
        margin-top: 340px;
    }

    .btn{
        margin-top: 0px;
    }

    .potter{
        position: absolute;
        margin-left: 60rem;
        margin-top: 6rem ;
        height: 5rem;
        animation:  xp-axis 10s infinite linear ;
    }
    
    @keyframes yp-axis{
        50%{
            transform: translateY(280px);
        }
    }
    
    @keyframes xp-axis{
        50%{
            transform: translateX(-280px);
        }
    }
    
    @keyframes y-axis{
        50%{
            transform: translateY(200px);
        }
    }
    
    @keyframes x-axis{
        50%{
            transform: translateX(100px);
        }
    }

    /* about section */

    #about{
        height: 56vh;
    }

    .as p{
        font-size: 1.7rem;
    }

    /* hackathon track section */

    #ht{
        height: 85vh;
    }

    .ht-sub{
        padding-top: 11vh;
    }

    .t11 img{
        height: 20vh;
    }

    .t11 h2{
        font-size: 1.4rem;
    }

    #pr{
        height: 85vh;
    }

    /* past sponsors section */

    #ps {
        height: 150vh;
    }

    .logos{
        position: relative;
        top: 2vh;
        height: 58vh;
    }

    #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
        height: 6vh;
    }

    #down {
        margin-top: 45vh;
    }

    #foot{
        height: 40vh;
    }

    


}

@media screen and (max-width:1056px){
    /* common */

    .mobile{
       display: none;
   }

   h1{
       font-size: 1.9rem;
   }

   #loading{
    background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200564350713331752/map1056.png?ex=65c6a3ae&is=65b42eae&hm=5d740d96ac17c3063fd4015d132a94b0f8debb190a16ed49946fa83e0262ea57&=&format=webp&quality=lossless&width=782&height=565);
    background-size: cover;
    overflow-y: hidden;
}

   /* home section */
   #home{
       height: 74vh;
   }

   .background-images h2{
    font-size: 1.5rem;
   }

    .btp {
        margin-top: 321px;
    }

    .btn{
        font-size: 1.3rem;
        width: 12rem;
        height: 2.7rem;
    }

   .potter{
       position: absolute;
       margin-left: 56rem;
       margin-top: 6rem ;
       height: 5rem;
       animation:  xp-axis 10s infinite linear ;
   }
   
   @keyframes yp-axis{
       50%{
           transform: translateY(280px);
       }
   }
   
   @keyframes xp-axis{
       50%{
           transform: translateX(-280px);
       }
   }
   
   @keyframes y-axis{
       50%{
           transform: translateY(200px);
       }
   }
   
   @keyframes x-axis{
       50%{
           transform: translateX(100px);
       }
   }

   /* about section */

   #about{
       height: 53vh;
   }

   .as p{
       font-size: 1.5rem;
   }

   /* hackathon track section */

   #ht{
       height: 92vh;
   }

   .ht-sub{
       padding-top: 14vh;
   }

   /* prizes section */

   #pr{
    height: 85vh;
    }

    .prizes h1{
        margin-top: 4vh;
    }

    .txt1 h3, .txt3 h3{
        font-size: 1.3rem;
    }

    .txt1 h2, .txt3 h2{
        font-size: 1.6rem;
    }

    .txt2{
        margin-top: 17vh;
    }

    .tr1{
        height: 54vh;
    }

    .tr2{
        height: 70vh;
    }

    .tr3{
        height: 50vh;
    }

   /* past sponsors section */

   #ps {
       height: 150vh;
   }

   .logos{
       height: 54vh;
   }

   .r1{
    width: 60%;
   }

   .r2{
    width: 40%;
   }

   .r3{
    width: 90%;
   }

   .r4{
    width: 85%;
   }

   .r5{
    width: 40%;
   }

   #tb{
    margin-top: 2rem;
   }

   #down{
    margin-top: 48vh;
   }

   .h h1{
    margin-top: 3vh;
   }

   #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
       height: 6vh;
   }

   #down {
       margin-top: 45vh;
   }

   .row3, .row2 {
    height: 120vh;
    }

    #pe {
        height: 183vh;
    }

   #foot{
    height: 37vh;
    }

    

    .add h3, .ce h3, .bs h3{
        font-size: 1rem;
    }

    .add p, .ce p, .bs p{
        font-size: 0.7rem;
    }


}

@media screen and (max-width:1024px){

    /* common */

    .mobile{
        display: none;
    }

    h1{
        font-size: 1.9rem;
    }

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200564499833421844/map1024.png?ex=65c6a3d2&is=65b42ed2&hm=acf8dd18ea3416b3e54bbb6ad97491bedf5ebfef2b9563ddd2f82019745fe14e&=&format=webp&quality=lossless&width=951&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* home section */
    #home{
        height: 89vh;
    }

    #logo{
        top: 2rem;
        height: 15rem;
        width: 15rem;
    }

    .background-images h2{
        font-size: 1.4rem;
        top: 14.5rem;
        line-height: 6vh;
    }

    .btp{
        margin-top: 0;
    }

    .btn{
        font-size: 1.3rem;
        margin-top: 321px;
        width: 11rem;
        height: 2.7rem;
    }

    .potter{
        position: absolute;
        margin-left: 55rem;
        margin-top: 6rem ;
        height: 5rem;
        animation:  xp-axis 10s infinite linear ;
    }
    
    @keyframes yp-axis{
        50%{
            transform: translateY(280px);
        }
    }
    
    @keyframes xp-axis{
        50%{
            transform: translateX(-280px);
        }
    }
    
    @keyframes y-axis{
        50%{
            transform: translateY(200px);
        }
    }
    
    @keyframes x-axis{
        50%{
            transform: translateX(100px);
        }
    }



    /* about section */

    #about{
        height: 50vh;
    }

    .as p{
        font-size: 1.4rem;
        padding: 1rem 0 0 0;
    }

    /* hackathon track section */

    #ht{
        height: 103vh;
    }

    .ht-sub{
        padding-top: 15vh;
    }

    .t11 img{
        height: 20vh;
    }

    .t11 h2{
        font-size: 1.4rem;
    }

    /* prizes section */

    #pr{
        height: 96vh;
    }

    .prizes h1{
        margin-top: 4vh;
    }

    .tr1{
        height: 52vh;
    }

    .tr2{
        height: 80vh;
    }

    .tr3{
        height: 50vh;
    }

    /* past sponsors section */

    #ps{
        height: 150vh;
    }

    .logos{
        height: 50vh;
    }

    .r1{
        width: 40%;
    }

    .r2{
        width: 22%;
    }

    .r3{
        width: 65%;
    }
    
    .r4{
        width: 58%;
    }

    .r5{
        width: 30%;
    }

    #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
        height: 5vh;
    }

    #iste,#ashrae{
        height: 10vh;
    }

    #tb{
        height: 55vh;
    }

    #down{
        margin-top: 40vh;
    }

    /* past event section */

    #pe{
        height: 190vh;
    }

    .pe1{
        width: 100vh;
        height: 190vh;
    }

    .col{
        margin-top: 5vh;
        height: 80vh;
    }

    .row3,.row2{
        height: 120vh;
    }

    #ele1,#ele2{
        height: 38vh;
    }

    #ele3 p{
        font-size: 8vh;
        margin: 0;
    }

    #ele4 {
        height: 31vh;
    }

    #ele4 {
        height:31vh;
    }

    #ele5 p{
        font-size: 7vh ;
        margin: 0;
    }

    #ele6 {
        height: 35vh;
    }

    #ele7 {
        height: 28.7vh ;
    }

    #ele8 p{
        font-size: 7vh ;
    }

    #ele9 {
        height: 30.7vh ;
    }

    #ele10 p{
        font-size: 7vh ;
    }

    /* footer section */

    #foot{
        height: 38vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 6.5vh;
    }

    #foot h3{
        font-size: 1rem;
    }

   .add p{
        font-size: .8rem ;
   }

   .ce p{
        font-size: .8rem ;
    }

    .bs p{
        font-size: .8rem ;
    }

}

@media screen and (max-width:991px){

    .mobile{
        display: none;
    }

    /* home section */

    #home{
        height: 83vh;
    }

    #logo{
        top: 1rem;
    }

    .background-images h2{
        font-size: 1.3rem;
        top: 13.5rem;
    }

    .btn{
        position: relative;
        top: 20rem;
        font-size: 1.3rem;
        margin-top: 303px;
        width: 11rem;
        height: 2.5rem;
    }

    /* about section */

    #about{
        height: 60vh;
    }

    .as p{
        font-size: 1.3rem;
        padding: 1rem 0 0 0;
    }

    /* hackathon track section */

    #ht{
        height: 100vh;
    }

    .ht-sub{
        padding-top: 16vh;
    }

    .t1{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    /* prizes section */

    #pr{
        height: 85vh;
    }

    .prizes h1{
        margin-top: 2vh;
    }

    .tr1{
        height: 52vh;
    }

    .tr2{
        height: 75vh;
    }

    .tr3{
        height: 50vh;
    }

    /* past event section */

    #pe{
        height: 203vh;
    }

    /* footer section */

    #foot{
        height: 24vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 0vh;
    }

    #foot h3{
        font-size: 1rem;
    }

   .add p{
        font-size: .68rem ;
   }

   .ce p{
        font-size: .68rem ;
    }

    .bs p{
        font-size: .68rem ;
    }

}

@media screen and (max-width: 915px){
    .ajax{
        display: none;
    }

    /* common */

    h1{
        font-size: 1.6rem;
    }

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200564653500137492/map915.png?ex=65c6a3f6&is=65b42ef6&hm=bc9c428e42b5dc756453a07bb594409f330845a94c1e0b1675f87d963fa3ccf2&=&format=webp&quality=lossless&width=377&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* home section */
    #home{
        height: 39vh;
    }

    #logo{
        top: 3rem;
        height: 10rem;
        width: 10rem;
    }

    .background-images h2{
        font-size: 1.1rem;
        top: 12.5rem;
        line-height: 1.7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 3.5rem
    }

    .btn{
        top: 0rem;
        font-size: 1.3rem;
        margin-top: 275px;
        width: 10rem;
        font-size: 1.2rem;
    }

    .sp{
        animation: none;
    }
    
    .pp{
        animation: none;
    }

    .potter{
        position: absolute;
        margin-left: 45rem;
        margin-top: 6rem ;
        height: 4rem;
        animation:  none ;
    }

    .snitch{
        position: absolute;
        height: 2rem;
        width: 3.5rem;
        margin-left: 8rem;
        margin-top: 6rem ;
        animation:  none;
    }
    

    /* about section */

    #about{
        height: 22vh;
    }

    .as p{
        font-size: 1.2rem;
        padding: 1rem 0 0 0;
    }

    .as h1{
        top: 0;
    }

    /* hackathon track section */

    #ht{
        height: 49vh;
    }

    .ht-sub{
        padding-top: 8vh;
    }

    .t11 img{
        height: 10vh;
    }

    .t11 h2{
        font-size: 1.3rem;
    }

    /* prizes section */

    #pr{
        height: 39vh;
    }

    .tr1{
        height: 28vh;
    }

    .tr2{
        height: 33vh;
    }

    .tr3{
        height: 27vh;
    }

    .txt1{
        margin-top: 5vh;
    }

    .txt2{
        margin-top: 6vh;
    }

    .txt3{
        margin-top: 5vh;
    }

    /* past sponsors section */

    #ps{
        height: 80vh;
    }

    .logos{
        height: 32vh;
    }

    #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
        height: 3vh;
    }

    #iste,#ashrae{
        height: 7vh;
    }

    .r1{
        width: 70%;
    }

    .r2{
        width: 32%;
    }

    .r3{
        width: 95%;
    }

    .r4{
        width: 90%;
    }

    .r5{
        width: 50%;
    }

    #tb{
        height: 25vh;
        margin-top: 3vh;
    }

    #down{
        margin-top: 21.7vh;
    }

    /* past event section */

    #pe{
        display: none;
    }

    #pem{
        display: block;
        height: 44vh;
    }

    .pe1 {
        width: 65vh;
        height: 39vh;
        
    }

    .h h1{
        margin-top: 0;
    }

    .carousel{
        top: 0vh;
        height: 30vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 11vh;
        width: 11vh;
    }
    
    .ci{
        height: 11vh;
        width: 13vh;
    }

    .carousel-indicators{
        top: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        position: relative;
        top: 0.9vh;
        border-radius: 100%;
        width: 0.2rem;
        height: 0.1rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 2rem;
        top: 1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    .carousel-control-prev {
        left: 1.5vh;
    }

    .carousel-control-next{
        right: 1.5vh;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 17vh;
        top: 2vh;
    }

    #c2{
        height: 23rem;
    }
    
    .ci2{
        width: 88%;
        height: 21rem;
    }
    
    #cc{
        width: 100%;
        top: 0.5rem;
        background-color: #86571096;
    }
    
    #cai2{
        top: 18rem;
    }

    

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 0vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 30vh;
    }

    .l img{
        height: 5.5vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

    .bs2 svg{
        height: 15px;
        width: 15px;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media screen and (max-width: 821px){

    /* common */

    h1{
        font-size: 1.6rem;
    }

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200564818986410065/map820.png?ex=65c6a41e&is=65b42f1e&hm=c7b82079f71416230a845f7a48e2b6871e75d447795d6646557681a51ff80757&=&format=webp&quality=lossless&width=392&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* home section */
    #home{
        height: 45vh;
    }

    #logo{
        top: 3rem;
        height: 10rem;
        width: 10rem;
    }

    .background-images h2{
        font-size: 1.1rem;
        top: 12.5rem;
        line-height: 1.7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 3.5rem
    }

    .btn{
        top: 0rem;
        font-size: 1.3rem;
        margin-top: 275px;
        width: 10rem;
        font-size: 1.2rem;
    }

    .sp{
        animation: none;
    }
    
    .pp{
        animation: none;
    }

    .potter{
        position: absolute;
        margin-left: 35rem;
        margin-top: 6rem ;
        height: 4rem;
        animation:  none ;
    }

    .snitch{
        position: absolute;
        height: 2rem;
        width: 3.5rem;
        margin-left: 8rem;
        margin-top: 6rem ;
        animation:  none;
    }
    

    /* about section */

    #about{
        height: 29vh;
    }

    .as p{
        font-size: 1.2rem;
        padding: 1rem 0 0 0;
    }

    /* hackathon track section */

    #ht{
        height: 55vh;
    }

    .ht-sub{
        padding-top: 10vh;
    }

    .t11 img{
        height: 10vh;
    }

    .t11 h2{
        font-size: 1.3rem;
    }

    /* prizes section */

    #pr{
        height: 43vh;
    }

    .tr1{
        height: 30vh;
    }

    .trophie h2{
        font-size: 2.3rem;
    }

    .tr2{
        height: 35vh;
    }

    .tr3{
        height: 29vh;
    }

    .txt1{
        margin-top: 5vh;
    }

    .txt2{
        margin-top: 6vh;
    }

    .txt3{
        margin-top: 5vh;
    }

    /* past sponsors section */

    #ps{
        height: 90vh;
    }

    .logos{
        height: 35vh;
    }

    #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
        height: 3.5vh;
    }

    #iste,#ashrae{
        height: 8vh;
    }

    .r1{
        width: 70%;
    }

    .r2{
        width: 32%;
    }

    .r3{
        width: 100%;
    }

    .r4{
        width: 90%;
    }

    .r5{
        width: 50%;
    }

    #tb{
        height: 28vh;
        margin-top: 3vh;
    }

    #down{
        margin-top: 24.3vh;
    }

    /* past event section */

    #pe{
        display: none;
    }

    #pem{
        display: block;
        height: 49vh;
    }

    .pe1 {
        width: 65vh;
        height: 39vh;
        
    }

    .h h1{
        margin-top: 0;
    }

    .carousel{
        top: 0vh;
        height: 30vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 11vh;
        width: 11vh;
    }
    
    .ci{
        height: 11vh;
        width: 13vh;
    }

    .carousel-indicators{
        top: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        position: relative;
        top: 0.9vh;
        border-radius: 100%;
        width: 0.2rem;
        height: 0.1rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 2rem;
        top: 1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 17vh;
    }

    #c2{
        height: 23rem;
    }
    
    .ci2{
        width: 100%;
        height: 21rem;
    }
    
    #cc{
        width: 100%;
        top: 0.5rem;
        background-color: #86571096;
    }
    
    #cai2{
        top: 19rem;
    }

    

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 22vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 7vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media only screen and (max-width:767px){

    .mobile{
        display: none;
    }

    /* common */

    h1{
        font-size: 1.6rem;
    }

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200564986783731843/map768.png?ex=65c6a446&is=65b42f46&hm=17b2d5481b1c2203346c1a489e2d2cbe0ef8b0a8c720f10561659856581f50ac&=&format=webp&quality=lossless&width=425&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* home section */
    #home{
        height: 45vh;
    }

    #logo{
        top: 3rem;
        height: 10rem;
        width: 10rem;
    }

    .background-images h2{
        font-size: 1.1rem;
        top: 12.5rem;
        line-height: 1.7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 3.5rem
    }

    .btn{
        top: 0rem;
        font-size: 1.3rem;
        margin-top: 275px;
        width: 10rem;
        font-size: 1.2rem;
    }

    .sp{
        animation: none;
    }
    
    .pp{
        animation: none;
    }

    .potter{
        position: absolute;
        margin-left: 35rem;
        margin-top: 6rem ;
        height: 4rem;
        animation:  none ;
    }

    .snitch{
        position: absolute;
        height: 2rem;
        width: 3.5rem;
        margin-left: 8rem;
        margin-top: 6rem ;
        animation:  none;
    }
    

    /* about section */

    #about{
        height: 29vh;
    }

    .as p{
        font-size: 1.2rem;
        padding: 1rem 0 0 0;
    }

    /* hackathon track section */

    #ht{
        height: 55vh;
    }

    .ht-sub{
        padding-top: 10vh;
    }

    .t11 img{
        height: 10vh;
    }

    .t11 h2{
        font-size: 1.3rem;
    }

    /* prizes section */

    #pr{
        height: 43vh;
    }

    .tr1{
        height: 30vh;
    }

    .tr2{
        height: 35vh;
    }

    .tr3{
        height: 29vh;
    }

    .txt1{
        margin-top: 5vh;
    }

    .txt2{
        margin-top: 6vh;
    }

    .txt3{
        margin-top: 5vh;
    }

    /* past sponsors section */

    #ps{
        height: 90vh;
    }

    .logos{
        height: 35vh;
    }

    #gfg,#hp,#fueler,#devfolio,#xyz,#polygon,#bee,#replit,#solana,#filecoin,#echo3D{
        height: 3.5vh;
    }

    #iste,#ashrae{
        height: 8vh;
    }

    .r1{
        width: 70%;
    }

    .r2{
        width: 32%;
    }

    .r3{
        width: 100%;
    }

    .r4{
        width: 90%;
    }

    .r5{
        width: 50%;
    }

    #tb{
        height: 28vh;
        margin-top: 3vh;
    }

    #down{
        margin-top: 24.3vh;
    }

    /* past event section */

    #pe{
        display: none;
    }

    #pem{
        display: block;
        height: 49vh;
    }

    .pe1 {
        width: 65vh;
        height: 39vh;
        
    }

    .h h1{
        margin-top: 0;
    }

    .carousel{
        top: 0vh;
        height: 30vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 11vh;
        width: 11vh;
    }
    
    .ci{
        height: 11vh;
        width: 13vh;
    }

    .carousel-indicators{
        top: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        position: relative;
        top: 0.9vh;
        border-radius: 100%;
        width: 0.2rem;
        height: 0.1rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 2rem;
        top: 1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 17vh;
    }

    #c2{
        height: 23rem;
    }
    
    .ci2{
        width: 100%;
        height: 21rem;
    }
    
    #cc{
        width: 100%;
        top: 0.5rem;
        background-color: #86571096;
    }
    
    #cai2{
        top: 19rem;
    }

    

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 22vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 7vh;
    }

    .l img{
        height: 7vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }

}

@media screen and (max-width: 540px){
     /* COMMON */

     #htm,#psm,#pem{                
        display: block;
    }

    #pe, #ht,#ps{
        display: none;
    }

    .nav1{
        display: none;
    }

    .nav2{
        display: block;
    }

    h1{
        font-size: 0.9rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565202207379536/Android_Large_-_3.png?ex=65c6a479&is=65b42f79&hm=76ef7212da97f86962b5cc4f4ec975c3802e56ce5f40038919653d7939d9ca4c&=&format=webp&quality=lossless&width=107&height=563) ;
        background-size: cover;
    }

    /* LOADER */

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565202668769360/map540.png?ex=65c6a479&is=65b42f79&hm=ddee3765b7ab9e8ac139fe72ab0b1eedc1738a0c3e6009920b2ea7ee872ab8d9&=&format=webp&quality=lossless&width=423&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* HOME */

    #home{
        height: 56vh;
    }

    #logo{
        top: 3rem;
        height: 9rem;
        width: 9rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 7.5rem
    }
    
    .background-images h2{
        font-size: 0.9rem;
        top: 11.5rem;
        line-height: 3vh;
    }

    .btp{
        margin:0;
        gap: 15px;
    }

    .btn{
        top: 15rem;
        font-size: 0.65rem;
        height: 1.5rem;
        width: 5rem;
        margin: 0;
        padding: 0;
    }

    .pp,.sp, .snitch, .potter{
        animation: none;
    }

    .snitch{
        height: 1.5rem;
        width: 2.5rem;
        margin-left: 5rem;
        margin-top: 7rem ;
    }
    
    .potter{
        margin-left: 25rem;
        margin-top: 7rem ;
        height: 2.5rem;
    }

    /* OVERVIEW */

    #about{
        height: 32.8vh;
    }

    .as p{
        font-size: 0.9rem;
        padding: 0.5rem 1.5rem 0rem 1.5rem;
    }

    /* HACKATHON TRACKS */

    #htm{
        background-image:url(./images/ht\ bg.png);
        background-size: cover;
        height: 44vh;
    }

    .ht-sub{
        padding-top: 8vh;
    }

    .tracks{
        height: 27vh;
    }

    .carousel{
        top: 3vh;
        height: 23vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 11vh;
        width: 11vh;
    }
    
    .ci{
        height: 11vh;
        width: 13vh;
    }

    .carousel-indicators{
        top: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        position: relative;
        top: 0.9vh;
        border-radius: 100%;
        width: 0.2rem;
        height: 0.1rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 1rem;
        top: 4.1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 17vh;
    }

    /* PRIZES */

    #pr{
        height: 42vh;
    }

    .prizes h1{
        font-size: .9rem;
        margin-top: 2vh;
    }
    .trophie h2{
        font-weight: bold;
        font-size: 1rem;
    }
    
    .trophie h3{
        font-weight: bold;
        font-size: 0.7rem;
    }
    
    .tr2{
        height: 35vh;
    }
    
    .tr1{
        height: 29vh;
    }
    
    .tr3{
        height: 26vh;
    }

    .txt1,.txt3{
        margin-top: 5vh ;
    }

    .txt1 h3,.txt3 h3, .txt2 h3{
        font-size: 0.9rem;
    }

    .txt1 h2,.txt3 h2, .txt2 h2{
        font-size: 1.2rem;
    }

    .txt2{
        margin-top: 7vh;
    }

    /* PAST SPONSORS */

    #psm{
        height: 90vh;
    }

    .psp{
        padding: 0;
    }

    .logos{
        height: 38vh;
    }

    .r1{
        width: 60%;
    }
    
    #gfg{
        height: 3vh;
    }
    
    #hp{
        height: 3vh;
    }
    
    .r2{
        width: 30%;
    }
    
    #ashrae,#iste{
        height: 7vh;
    }
    
    
    .r3, .r4, .r6, .r5{
        width: 50%;
    }

    .r7{
        width: 70%;
    }
    
    #fueler,#bee,#polygon,#devfolio{
        height: 3vh;
    }
    
    #echo3D, #xyz{
        height: 3vh;
    }

    #tb{
        top: 1rem;
        height: 25vh;
    }

    #down{
        margin-top: 23vh;
    }

    /* PAST EVENT */

    #pem{
        height: 32vh;
    }

    .pe1{
        width: 152vh;
        height: 0vh;
    }

    .h h1{
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    #c2{
        height: 11rem;
    }
    
    .ci2{
        width: 100%;
        height: 10rem;
    }
    
    #cc{
        width: 100%;
        top: 1.5rem;
        background-color: #86571096;
    }
    
    #cai2{
        top: 8rem;
    }

    #carouselExampleCaptions2{
        left: 4.5rem;
        width: 352px;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }
    
    .f{
        position: relative;
        height: 0vh;
        width: 100%;
    }
    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 24vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:450px){

    /* COMMON */

    #htm,#psm,#pem{                
        display: block;
    }

    #pe, #ht,#ps{
        display: none;
    }

    .nav1{
        display: none;
    }

    .nav2{
        display: block;
    }

    h1{
        font-size: 0.9rem;
    }

    html, body{
        height: 130rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565202207379536/Android_Large_-_3.png?ex=65c6a479&is=65b42f79&hm=76ef7212da97f86962b5cc4f4ec975c3802e56ce5f40038919653d7939d9ca4c&=&format=webp&quality=lossless&width=107&height=563) ;
        background-size: cover;
    }

    /* LOADER */

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565621088342026/map_mobile.png?ex=65c6a4dd&is=65b42fdd&hm=829ac62265b709737f4e33fbfb12c6e2d6c0677126c1175467328afec3c5ddc5&=&format=webp&quality=lossless&width=285&height=563);
        background-size: cover;
        overflow-y: hidden;
    }

    /* HOME */

    #home{
        height: 39vh;
    }

    #logo{
        top: 3rem;
        height: 7rem;
        width: 7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 7.5rem
    }
    
    .background-images h2{
        font-size: 0.7rem;
        top: 8.8rem;
        line-height: 3vh;
    }

    .btp{
        margin:0;
        gap: 15px;
    }

    .btn{
        top: 12.6rem;
        font-size: 0.65rem;
        height: 1.5rem;
        width: 5rem;
        margin: 0;
        padding: 0;
    }

    .pp,.sp, .snitch, .potter{
        animation: none;
    }

    .snitch{
        height: 1.5rem;
        width: 2.5rem;
        margin-left: 3rem;
        margin-top: 5rem ;
    }
    
    .potter{
        margin-left: 18rem;
        margin-top: 5rem ;
        height: 2.5rem;
    }

    /* OVERVIEW */

    #about{
        height: 20.8vh;
    }

    .as p{
        font-size: 0.7rem;
        padding: 0.5rem 1rem 0rem 1rem;
    }

    /* HACKATHON TRACKS */

    #htm{
        background-image:url(./images/ht\ bg.png);
        background-size: cover;
        height: 37vh;
    }

    .ht-sub{
        padding-top: 7vh;
    }

    .tracks{
        height: 27vh;
    }

    .carousel{
        top: 3vh;
        height: 23vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 11vh;
        width: 11vh;
    }
    
    .ci{
        height: 11vh;
        width: 13vh;
    }

    .carousel-indicators{
        top: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        position: relative;
        top: 0.9vh;
        border-radius: 100%;
        width: 0.2rem;
        height: 0.1rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 1rem;
        top: 4.1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 17vh;
    }

    /* PRIZES */

    #pr{
        height: 28vh;
    }

    .prizes h1{
        font-size: .9rem;
        margin-top: 2vh;
    }
    .trophie h2{
        font-weight: bold;
        font-size: 1rem;
    }
    
    .trophie h3{
        font-weight: bold;
        font-size: 0.7rem;
    }
    
    .tr2{
        height: 22vh;
    }
    
    .tr1{
        height: 18vh;
    }
    
    .tr3{
        height: 17vh;
    }

    .txt1,.txt3{
        margin-top: 3vh ;
    }

    .txt2{
        margin-top: 4vh;
    }

    /* PAST SPONSORS */

    #psm{
        height: 73vh;
    }

    .psp{
        padding: 0;
    }

    .logos{
        height: 38vh;
    }

    .r1{
        width: 100%;
    }
    
    #gfg{
        height: 3vh;
    }
    
    #hp{
        height: 3vh;
    }
    
    .r2{
        width: 50%;
    }
    
    #ashrae,#iste{
        height: 7vh;
    }
    
    
    .r3, .r4, .r5, .r6, .r7{
        width: 100%;
    }
    
    #fueler,#bee,#polygon,#devfolio{
        height: 3vh;
    }
    
    #echo3D, #xyz{
        height: 3vh;
    }

    #tb{
        top: 1rem;
        height: 17vh;
    }

    #down{
        margin-top: 16vh;
    }

    /* PAST EVENT */

    #pem{
        height: 25vh;
    }

    .pe1{
        width: 152vh;
        height: 0vh;
    }

    .h h1{
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    #c2{
        height: 11rem;
    }
    
    .ci2{
        width: 100%;
        height: 10rem;
    }
    
    #cc{
        width: 100%;
        top: 1.5rem;
        background-color: #86571096;
    }
    
    #cai2{
        top: 8rem;
    }

    #carouselExampleCaptions2{
        left: 0.8rem;
        width: 352px;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }
    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 3vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
    
}

@media screen and (max-width:440px){

    /* COMMON */

    #htm,#psm,#pem{                
        display: block;
    }

    #pe, #ht,#ps{
        display: none;
    }

    .nav1{
        display: none;
    }

    .nav2{
        display: block;
    }

    h1{
        font-size: 0.9rem;
    }

    html, body{
        height: 132rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565202207379536/Android_Large_-_3.png?ex=65c6a479&is=65b42f79&hm=76ef7212da97f86962b5cc4f4ec975c3802e56ce5f40038919653d7939d9ca4c&=&format=webp&quality=lossless&width=107&height=563) ;
        background-size: cover;
    }

    /* LOADER */

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565782137016331/map440.png?ex=65c6a503&is=65b43003&hm=90484f1d8f7e46ae8a0db5c6992c14a1e7526e34c082726dcffe2a96c933d627&=&format=webp&quality=lossless&width=261&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* HOME */

    #home{
        height: 38vh;
    }

    #logo{
        top: 3rem;
        height: 7rem;
        width: 7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 7.5rem
    }
    
    .background-images h2{
        font-size: 0.7rem;
        top: 8.8rem;
        line-height: 3vh;
    }

    .btp{
        margin:0;
        gap: 15px;
    }

    .btn{
        top: 12.6rem;
        font-size: 0.65rem;
        height: 1.5rem;
        width: 5rem;
        margin: 0;
        padding: 0;
    }

    .pp,.sp, .snitch, .potter{
        animation: none;
    }

    .snitch{
        height: 1.5rem;
        width: 2.5rem;
        margin-left: 3rem;
        margin-top: 5rem ;
    }
    
    .potter{
        margin-left: 18rem;
        margin-top: 5rem ;
        height: 2.5rem;
    }

    /* OVERVIEW */

    #about{
        height: 20.8vh;
    }

    .as h1{
        top: 0;
    }

    .as p{
        font-size: 0.7rem;
        padding: 0.5rem 1rem 0rem 1rem;
    }

    /* HACKATHON TRACKS */

    #htm{
        background-image:url(./images/ht\ bg.png);
        background-size: cover;
        height: 37vh;
    }

    .ht-sub{
        padding-top: 7vh;
    }

    .tracks{
        height: 27vh;
    }

    .carousel{
        top: 3vh;
        height: 23vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 11vh;
        width: 11vh;
    }
    
    .ci{
        height: 11vh;
        width: 13vh;
    }

    .carousel-indicators{
        top: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        position: relative;
        top: 0.9vh;
        border-radius: 100%;
        width: 0.2rem;
        height: 0.1rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 1rem;
        top: 4.1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    .carousel-control-next, .carousel-control-prev {
        height: 17vh;
    }

    /* PRIZES */

    #pr{
        height: 28vh;
    }

    .prizes h1{
        font-size: .9rem;
        margin-top: 2vh;
    }
    .trophie h2{
        font-weight: bold;
        font-size: 1rem;
    }
    
    .trophie h3{
        font-weight: bold;
        font-size: 0.7rem;
    }
    
    .tr2{
        height: 22vh;
    }
    
    .tr1{
        height: 18vh;
    }
    
    .tr3{
        height: 17vh;
    }

    .txt1,.txt3{
        margin-top: 3vh ;
    }

    .txt2{
        margin-top: 4vh;
    }

    /* PAST SPONSORS */

    #psm{
        height: 73vh;
    }

    .psp{
        padding: 0;
    }

    .logos{
        height: 38vh;
    }

    .r1{
        width: 100%;
    }
    
    #gfg{
        height: 3vh;
    }
    
    #hp{
        height: 3vh;
    }
    
    .r2{
        width: 50%;
    }
    
    #ashrae,#iste{
        height: 7vh;
    }
    
    
    .r3, .r4, .r5, .r6, .r7{
        width: 100%;
    }
    
    #fueler,#bee,#polygon,#devfolio{
        height: 3vh;
    }
    
    #echo3D, #xyz{
        height: 3vh;
    }

    #tb{
        top: 1rem;
        height: 17vh;
    }

    #down{
        margin-top: 16vh;
    }

    /* PAST EVENT */

    #pem{
        height: 25vh;
    }

    .pe1{
        width: 152vh;
        height: 0vh;
    }

    .h h1{
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    #c2{
        height: 11rem;
    }
    
    .ci2{
        width: 100%;
        height: 10rem;
    }
    
    #cc{
        width: 100%;
        top: 1.5rem;
        background-color: #86571096;
    }
    
    #cai2{
        top: 8rem;
    }

    #carouselExampleCaptions2{
        left: 0.8rem;
        width: 352px;
    }

    /* FOOTER */

    #foot{
        height: 20vh;
    }
    
    .l,.bs,.add,.ce{
        margin-top: 26vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 10px;
        height: 10px;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 3.5vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 4vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 3.5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
    
}

@media screen and (max-width:415px) {


    html, body{
        height: 132rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200566424435958012/Android_Large_-_4.png?ex=65c6a59d&is=65b4309d&hm=d8b912a9eed1d333d1326856ff3509c5ca0be4efee22604eeaeb4a2632a42c30&=&format=webp&quality=lossless&width=107&height=563);
        background-size: cover;
        
    }

    .nav1{
        display: none;
    }

    .nav2{
        display: block;
    }

    .navbar-nav a:hover{
        transform: none;
}

    /* LOADER */

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565988115107861/map415.png?ex=65c6a535&is=65b43035&hm=ea3e2d945d1ca193bc13e3ef1429784bb5464d1696874008fca55bd162e97f63&=&format=webp&quality=lossless&width=261&height=565);
        background-size: cover;
        overflow-y: hidden;
    }
}

@media screen and (max-width:391px) {
    html,body{
        height: 128rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200566424435958012/Android_Large_-_4.png?ex=65c6a59d&is=65b4309d&hm=d8b912a9eed1d333d1326856ff3509c5ca0be4efee22604eeaeb4a2632a42c30&=&format=webp&quality=lossless&width=107&height=563);
        background-size: cover;
    }

    #home {
        height: 39vh;
    }

    #about {
        height: 24.8vh;
    }

    .as h1{
        top: 0;
    }

    #htm{
        height: 34vh;
    }

    .ht-sub {
        padding-top: 5.6vh;
    }

    #cai2{
        top: 8.5rem;
    }

    #carouselExampleCaptions2{
        left: 0rem;
        width: 352px;
    }

    .bs1 {
        height: 4.1vh;
    }

    .ce1 {
        height: 4.5vh;
    }
}

@media screen and (max-width:380px){

    /* COMMON */

    #htm,#psm,#pem{                
        display: block;
    }

    #pe, #ht,#ps{
        display: none;
    }

    .nav1{
        display: none;
    }

    .nav2{
        display: block;
    }

    h1{
        font-size: 0.9rem;
    }

    html, body{
        
        height: 123.7rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200566424435958012/Android_Large_-_4.png?ex=65c6a59d&is=65b4309d&hm=d8b912a9eed1d333d1326856ff3509c5ca0be4efee22604eeaeb4a2632a42c30&=&format=webp&quality=lossless&width=107&height=563) ;
        background-size: cover;
    }

    /* LOADER */

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200566156076007475/map375.png?ex=65c6a55d&is=65b4305d&hm=0bc3be5b45a7ec99c4f590b33d2825a989565fcbc1100b54f9b875ec956274fa&=&format=webp&quality=lossless&width=297&height=565);
        background-size: cover;
        overflow-y: hidden;
    }

    /* HOME */

    #home{
        height: 48vh;
    }

    #logo{
        top: 3rem;
        height: 7rem;
        width: 7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 7.5rem
    }
    
    .background-images h2{
        font-size: 0.7rem;
        top: 8.8rem;
        line-height: 3vh;
    }

    .btp{
        margin:0;
        gap: 15px;
    }

    .btn{
        top: 11.6rem;
        font-size: 0.65rem;
        height: 1.5rem;
        width: 5rem;
        margin: 0;
        padding: 0;
    }

    .pp,.sp, .snitch, .potter{
        animation: none;
    }

    .snitch{
        height: 1.5rem;
        width: 2.5rem;
        margin-left: 3rem;
        margin-top: 5rem ;
    }
    
    .potter{
        margin-left: 18rem;
        margin-top: 5rem ;
        height: 2.5rem;
    }

    /* OVERVIEW */

    #about{
        height: 34.8vh;
    }

    .as p{
        font-size: 0.7rem;
        padding: 0.5rem 1rem 0rem 1rem;
    }

    /* HACKATHON TRACKS */

    #htm{
        background-image:url(./images/ht\ bg.png);
        background-size: cover;
        height: 40vh;
    }

    .ht-sub{
        padding-top: 8vh;
    }

    .tracks{
        height: 27vh;
    }

    .carousel{
        height: 23vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 13vh;
        width: 13vh;
    }
    
    .ci{
        height: 13vh;
        width: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        border-radius: 100%;
        width: 0.2rem;
        height: 0.2rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 1rem;
        top: 4.1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    /* PRIZES */

    #pr{
        height: 35vh;
    }

    .prizes h1{
        font-size: .9rem;
        margin-top: 2vh;
    }
    .trophie h2{
        font-weight: bold;
        font-size: 1rem;
    }
    
    .trophie h3{
        font-weight: bold;
        font-size: 0.7rem;
    }
    
    .tr2{
        height: 26vh;
    }
    
    .tr1{
        height: 22vh;
    }
    
    .tr3{
        height: 21vh;
    }

    .txt1,.txt3{
        margin-top: 4vh ;
    }

    .txt2{
        margin-top: 5vh;
    }

    /* PAST SPONSORS */

    #psm{
        height: 87vh;
    }

    .psp{
        padding: 0;
    }

    .logos{
        height: 40vh;
    }

    .r1{
        width: 100%;
    }
    
    #gfg{
        height: 3vh;
    }
    
    #hp{
        height: 3vh;
    }
    
    .r2{
        width: 50%;
    }
    
    #ashrae,#iste{
        height: 7vh;
    }
    
    
    .r3, .r4, .r5, .r6, .r7{
        width: 100%;
    }
    
    #fueler,#bee,#polygon,#devfolio{
        height: 3vh;
    }
    
    #echo3D, #xyz{
        height: 3vh;
    }

    #tb{
        top: 1.5rem;
        height: 20vh;
    }

    #down{
        margin-top: 21.5vh;
    }

    /* PAST EVENT */

    #pem{
        height: 34vh;
    }

    .pe1{
        width: 152vh;
        height: 0vh;
    }

    .h h1 {
        margin-top: 0vh;
        margin-bottom: 1vh;
    }

    #c2{
        height: 11rem;
    }
    
    .ci2{
        width: 100%;
        height: 10rem;
    }
    
    #cc{
        width: 100%;
        top: 1.5rem;
        background-color: #86571096;
    }
    
    #cai{
        top: 2.5rem;
    }

    #cai2{
        top: 8.5rem;
    }

    #carouselExampleCaptions2{
        left: 0rem;
        width: 352px;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }

    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 24vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
    
}

@media screen and (max-width:361px){

    /* COMMON */

    #htm,#psm,#pem{                
        display: block;
    }

    #pe, #ht,#ps{
        display: none;
    }

    h1{
        font-size: 0.9rem;
    }

    #all{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200566424435958012/Android_Large_-_4.png?ex=65c6a59d&is=65b4309d&hm=d8b912a9eed1d333d1326856ff3509c5ca0be4efee22604eeaeb4a2632a42c30&=&format=webp&quality=lossless&width=107&height=563) ;
        background-size: cover;
        /* height: 115.5rem; */
    }

    /* LOADER */

    #loading{
        background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200565621088342026/map_mobile.png?ex=65c6a4dd&is=65b42fdd&hm=829ac62265b709737f4e33fbfb12c6e2d6c0677126c1175467328afec3c5ddc5&=&format=webp&quality=lossless&width=285&height=563);
        background-size: cover;
        overflow-y: hidden;
    }

    /* HOME */

    #home{
        height: 43vh;
    }

    #logo{
        top: 3rem;
        height: 7rem;
        width: 7rem;
    }

    #lighttree,#light,#darktree,#dark,#darker,#darkertree{
        top: 7.5rem
    }
    
    .background-images h2{
        font-size: 0.7rem;
        top: 8.8rem;
        line-height: 3vh;
    }

    .btp{
        margin:0;
        gap: 15px;
    }

    .btn{
        top: 11.6rem;
        font-size: 0.65rem;
        height: 1.5rem;
        width: 5rem;
        margin: 0;
        padding: 0;
    }

    /* OVERVIEW */

    #about{
        height: 30.8vh;
    }

    .as p{
        font-size: 0.7rem;
        padding: 0.5rem 1rem 0rem 1rem;
    }

    /* HACKATHON TRACKS */

    #htm{
        background-image:url(./images/ht\ bg.png);
        background-size: cover;
        height: 36vh;
    }

    .ht-sub{
        padding-top: 6.7vh;
    }

    .tracks{
        height: 27vh;
    }

    .carousel{
        height: 23vh;
    }
    
    .carousel-inner{
        height: 20vh;
    }
    
    .ci1{
        height: 13vh;
        width: 13vh;
    }
    
    .ci{
        height: 13vh;
        width: 15vh;
    }

    .carousel-indicators [data-bs-target]{
        border-radius: 100%;
        width: 0.2rem;
        height: 0.2rem;
        margin-right: 0px;
        margin-left: 6px;
    }
    
    .carousel-caption h5{
        font-family: var(--primary-font);
        font-size: 1rem;
        top: 4.1rem;
        position: relative;
    }
    
    .crousel-item {
        transition: 1s;
    }
    
    .crousel-item :hover{
        transform: scale(1.2);
        z-index: 2;
    }

    /* PRIZES */

    #pr{
        height: 33vh;
    }

    .prizes h1{
        font-size: .9rem;
        margin-top: 2vh;
    }
    .trophie h2{
        font-weight: bold;
        font-size: 0.9rem;
    }
    
    .trophie h3{
        font-weight: bold;
        font-size: 0.7rem;
    }
    
    .tr2{
        height: 22vh;
    }
    
    .tr1{
        height: 18vh;
    }
    
    .tr3{
        height: 17vh;
    }

    .txt1,.txt3{
        margin-top: 3vh ;
    }

    .txt2{
        margin-top: 4vh;
    }


    /* PAST SPONSORS */

    #psm{
        height: 73vh;
    }

    .psp{
        padding: 0;
    }

    .logos{
        height: 34vh;
    }

    .r1{
        width: 100%;
    }
    
    #gfg{
        height: 3vh;
    }
    
    #hp{
        height: 3vh;
    }
    
    .r2{
        width: 50%;
    }
    
    #ashrae,#iste{
        height: 7vh;
    }
    
    
    .r3, .r4, .r5, .r6, .r7{
        width: 100%;
    }
    
    #fueler,#bee,#polygon,#devfolio{
        height: 3vh;
    }
    
    #echo3D, #xyz{
        height: 3vh;
    }

    #tb{
        top: 0.7rem;
        height: 19vh;
    }

    #down{
        margin-top: 18.5vh;
    }

    /* PAST EVENT */

    #pem{
        height: 31vh;
    }

    .pe1{
        width: 152vh;
        height: 0vh;
    }

    .h h1{
        margin-top: 0vh;
        margin-bottom: 0.7vh;
    }

    #c2{
        height: 11rem;
    }
    
    .ci2{
        width: 100%;
        height: 10rem;
    }
    
    #cc{
        width: 100%;
        top: 1.5rem;
        background-color: #86571096;
    }
    
    #cai{
        top: 8.5rem;
    }

    #carouselExampleCaptions2 {
        left: 0rem;
        width: 312px;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }
    
    .f{
        position: relative;
        height: 22vh;
        width: 100%;
    }
    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 3vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
    
}



