:root{
    --primary-color: #5B3803;
    --secondary-color: #CB9235;
    --white-color:#ffffff;
    --primary-font: 'IM Fell DW Pica';
    --secondary-font: 'Cherry Swash';
    --bs-gradient: linear-gradient(180deg, #dd98196a, #fcdba587, #fcdba587, #fcdba587, #DD97196a);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    background-image: url(./images/spBG.png);
    width: 100%;
    background-size: cover;
}

/* SCROLL_BAR ANIMATION */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #563c04 #fbe2c4;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #D8AD6C;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #e4d29e98;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #e0cc9569;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #483109;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #5c4103;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #483109;
  }


/* NAVBAR SECTION */

.nav2{
    display: none;
}

.container img{
    width: 5rem;
}

.navigation-wrap{
    /* background-color: #dbb479e0; */
    background-color: #feedbee9;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 1.75rem 0 rgba(65, 59, 59, 0.09);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    padding: 0 0.125rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-nav a{
        transition: 1s;
}

.navbar-nav a:hover{
    transform: scale(1.1);
    z-index: 2;
}

.nav-link{
    font-family:var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color)!important;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 0.175rem 0 #d68c1c66;
    transition: all .15s ease-in-out 0s;
}

.cu{
    font-family: cherry swash;
    color: var(--primary-color);
}


/* SCHEDULE */

#sapiens2{
    display: none;
}

#sapiens{
    height: 605vh;
}

.g-head{
    position: relative;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
    top: 7rem;
    text-align: center;
}

.guest1{
    margin-top: 10rem;
}

.ga{
    text-decoration: none;
}

.guh{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-top: 0.8rem;
    text-align: center;
}

.gimg{
    height: 177px;
}

.guh1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1.3rem;
}

.gmain1{
    width: 100%;
}

.gmain2{
    width: 100%;
    margin-top: 3.5rem;
}

.gmain3{
    width: 100%;
    margin-top: 3.5rem;
}

.grow1{
    width: 75%;
}

.grow2{
    width: 75%;
    height: 390px;
}

.grow3{
    width: 75%;
    height: 220px;
}

.grow4{
    margin-top: 6rem;
    width: 74%;
    height: 207px;
}

.grow5{
    margin-top: 10rem;
    width: 75%;
}

.grow6{
    margin-top: 10rem;
    width: 75%;
}

.grow7{
    margin-top: 6rem;
    width: 74%;
    height: 207px;
}

.grow8{
    margin-top: 6rem;
    width: 74%;
    height: 207px;
}

.grow9{
    margin-top: 6rem;
    width: 74%;
    height: 207px;
}

.grow10{
    margin-top: 6rem;
    width: 74%;
    height: 207px;
}

.grow11{
    margin-top: 6rem;
    width: 74%;
    height: 207px;
}

.grow22{
    margin-top: 6rem;
    width: 25%;
    height: 207px;
}

.sc-h{
    position: relative;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight:300;
    font-size: 2rem;
    text-align: center;
}



/* FOOTER */

#foot{
    position: relative;
    width: 100%;
    /* height: 65vh; */
    bottom: 0;
    background-image: url(./images/fbg.png);
    background-size: cover;
}

.l,.bs,.add,.ce{
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.l img{
    height: 10vh;
}

.add,.bs,.ce {
    color: white;
    font-family: 'IBM Plex Serif';
}




@media screen and (max-width:1344px){
    #sapiens {
        height: 520vh;
    }

    .grow5, .grow6, .grow7, .grow8, .grow9, .grow10, .grow11 {
        width: 89%;
    }

    .grow22{
        width: 30%;
    }
    
}

@media screen and (max-width:1248px){
    .sched {
        height: 120vh;
    }

    .first, .second{
        height: 90px;
        width: 312px;
    }
    .sch{
        font-size: 1.6rem;
    }

    /* footer section */

    .add h3, .ce h3, .bs h3{
        font-size: 1.25rem;
    }

    .add p, .ce p, .bs p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1246px){
    #sapiens {
        height: 690vh;
    }

    .grow5, .grow6, .grow7, .grow8, .grow9, .grow10, .grow11 {
        width: 94%;
    }

    #foot {
        height: 46vh;
    }

    .f {
        height: 38vh;
    }
}

@media screen and (max-width:1152px){
    .grow1, .grow2, .grow3, .grow4, .grow5 {
        width: 88%;
    }

    .grow22{
        width: 34%;
    }

    #foot{
        height: 40vh;
    }
}

@media screen and (max-width:1056px){
    .grow5, .grow6, .grow7, .grow8, .grow9, .grow10, .grow11 {
        width: 100%;
    }

    .grow22{
        width: 35%;
    }
    
    #foot{
        height: 38vh;
    }   
    
    .add h3, .ce h3, .bs h3{
        font-size: 1rem;
    }
    
    .add p, .ce p, .bs p{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:1024px){
    #sapiens {
        height: 680vh;
    }

    /* footer section */

    #foot{
        height: 38vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 6.5vh;
    }

    #foot h3{
        font-size: 1rem;
    }

   .add p{
        font-size: .8rem ;
   }

   .ce p{
        font-size: .8rem ;
    }

    .bs p{
        font-size: .8rem ;
    }
}

@media screen and (max-width: 915px){
    #sapiens {
        height: 240vh;
    }

    .grow22 {
        margin-top: 1.5rem;
        width: 31%;
    }

    .guh {
        font-size: 1.1rem;
    }

    .gimg {
        height: 130px;
    }

    .grow2 {
        height: 260px;
    }

    .grow3 {
        height: 170px;
    }

    .grow4 {
        margin-top: 1.5rem;
    }

    .grow5, .grow6, .grow7, .grow8, .grow9, .grow10, .grow11 {
        width: 90%;
    }

    .grow7, .grow8, .grow9, .grow10, .grow11 {
        margin-top: 1.5rem;
    }


    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 0vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 30vh;
    }

    .l img{
        height: 5.5vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

    .bs2 svg{
        height: 15px;
        width: 15px;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media screen and (max-width: 860px){
    #sapiens {
        height: 260vh;
    }

    .grow22 {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 821px){

    #sapiens {
        height: 280vh;
    }

    .grow5, .grow6, .grow7, .grow8, .grow9, .grow10, .grow11 {
        width: 100%;
    }

    .grow22{
        width: 35%;
    }

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 22vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 7vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media only screen and (max-width:768px){
    #sapiens {
        height: 310vh;
    }

    .grow22{
        margin-top: 0;
    }

    .gimg {
        height: 100px;
    }

    .guh {
        font-size: 1rem;
    }

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 22vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 7vh;
    }

    .l img{
        height: 6vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media screen and (max-width: 540px){
    #sapiens {
        height: 320vh;
    }
    .grow22{
        margin-top: 0;
        height: 170px;
    }

    .gmain2 {
        margin-top: 0rem;
    }

    .gmain3 {
        margin-top: 0rem;
    }

    .gimg {
        height: 78px;
    }

    .guh {
        font-size: 0.76rem;
    }

    .grow2 {
        height: 140px;
    }

    .grow3 {
        height: 120px;
    }

    .grow4 {
        margin-top: 0rem;
        height: 146px;
    }

    .grow7, .grow8, .grow9, .grow10, .grow11 {
        margin-top: 0rem;
    }

    .grow7, .grow8, .grow9, .grow10, .grow11 {
        height: 160px;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }
    
    .f{
        position: relative;
        height: 0vh;
        width: 100%;
    }
    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 24vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }

    .bs1{
        height: 6vh;
    }

    .B{
        height: 1.5vh;
    }
    
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:440px) {

   #sapiens2{
    display: block;
   }

   #sapiens{
    display: none;
   }

   .g-head h1{
    font-size: 1.5rem;
   }

   .gmain1{
    margin-top: 10rem;
   }

   .grow1, .grow2, .grow3, .grow4, .grow5,  .grow12, .grow13, .grow15{
        width: 70%;
    }

    .grow6, .grow7, .grow8, .grow9, .grow10, .grow11, .grow16, .grow17, .grow18, .grow19, .grow20, .grow21 {
        width: 87%;
        text-align: center;
    }

    .grow14{
        width: 45%;
    }

    .grow13, .grow14{
        margin-top: 1rem;
    }

    .guest1{
        margin-top: 0rem;
    }

    .grow15{
        margin-top: 1rem;
    }

    .grow22{
        width: 45%;
        margin-top: 1.3rem;
    }
    

    /* FOOTER */

    #foot{
        height: 21vh;
    }
    
    .l,.bs,.add,.ce{
        margin-top: 28vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 10px;
        height: 10px;
    }
    
    .l img{
        position: relative;
        top: 0vh;
        height: 3.5vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 4vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }

    .bs{
        height: 8vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:415px) {
    .sc-col1, .sc-col3 {
        height: 67vh;
    }


    .l, .bs, .add, .ce {
        margin-top: 28vh;
    }

    .bs1{
        height: 5vh;
    }

    .content0 {
        width: 16rem;
    }
}

@media screen and (max-width:391px){
    .carousel {
        height: 95vh;
    }

    .sc-col1, .sc-col3 {
        height: 75vh;
    }

    .carousel-item {
        margin-right: -41%;
    }
}

@media screen and (max-width:380px){
    .sc-col1, .sc-col3 {
        height: 98vh;
    }

    .carousel {
        height: 119vh;
    }

    .carousel-item {
        margin-right: -38%;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }

    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 27vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 6vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:380px){
    .carousel-item {
        margin-right: -35%;
    }
}

