:root{
    --primary-color: #5B3803;
    --secondary-color: #CB9235;
    --white-color:#ffffff;
    --primary-font: 'IM Fell DW Pica';
    --secondary-font: 'Cherry Swash';
    --bs-gradient: linear-gradient(180deg, #dd98196a, #fcdba587, #fcdba587, #fcdba587, #DD97196a);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1208077870325301248/spBG.png?ex=65e1f931&is=65cf8431&hm=d5af224c0c837534ee499f22bc7beccbe7a1f0c36825861c014c2bd45b33228b&=&format=webp&quality=lossless&width=387&height=565);
    width: 100%;
    background-size: cover;
}

#sponsor1{
    display: none;
}

/* SCROLL_BAR ANIMATION */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #563c04 #fbe2c4;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #D8AD6C;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #e4d29e98;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #e0cc9569;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #483109;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #5c4103;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #483109;
  }


/* NAVBAR SECTION */

.nav2{
    display: none;
}

.container img{
    width: 5rem;
}

.navigation-wrap{
    /* background-color: #dbb479e0; */
    background-color: #feedbee9;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 1.75rem 0 rgba(65, 59, 59, 0.09);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    padding: 0 0.125rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-nav a{
        transition: 1s;
}

.navbar-nav a:hover{
    transform: scale(1.1);
    z-index: 2;
}

.nav-link{
    font-family:var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color)!important;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 0.175rem 0 #d68c1c66;
    transition: all .15s ease-in-out 0s;
}

.cu{
    font-family: cherry swash;
    color: var(--primary-color);
}

/* PARTNER SECTION */

.h1, .h11{
    margin-top: 8rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.h2, .h21{
    font-size: 1.7rem;
    padding-top: 1.7rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.title{
    height: 160px;
    width: 54rem;
    margin-top: 2rem;
    border-radius: 6px;
    background-image: var(--bs-gradient);
}

.sprow{
    width: 81%;
    margin-top: 4rem;
}

.co-p{
    height: 160px;
    width: 38rem;
    border-radius: 6px;
    background-image: var(--bs-gradient);
}

.hq{
    height: 3rem;
    width: 11rem;
}

.content0{
    width: 20rem;
}

.platform{
    height: 160px;
    width: 21rem;
    border-radius: 6px;
    background-image: var(--bs-gradient);
}

.dh{
    height: 5rem;
    width: 18rem;   
}

.h2td{
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.h2t{
    font-size: 1.7rem;
    margin-top: 1rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.pt{
    font-family: var(--primary-font);
    text-align: justify;
}

.at .h2t{
    color: var(--primary-color);
}

.at .pt{
    color: black;
}

.at{
    text-decoration: none;
}

.content{
    width: 29rem;
}

.h20{
    padding-top: 1.5rem;
    font-size: 1.7rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.la{
    height: 5rem;
}

.srow1{
    width: 76rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.s1, .s2, .s3, .s4, .s11, .s21, .s31, .s41{
    height: 180px;
    width: 272px;
    border-radius: 6px;
    text-align: center;
    background-image: var(--bs-gradient);
}

.s1 img, .s11 img{
    position: relative;
    height: 55px;
    width: 225px;
    margin-top: 0.5rem;
}

.s2 img, .s21 img{
    position: relative;
    height: 89px;
    width: 213px;
    margin-top: 0.4rem;
}

.srow2{
    margin-top: 2rem;
}

.s3 img, .s31 img{
    position: relative;
    height: 95px;
    width: 95px;
    margin-top: 0.1rem;
}

.s4 img, .s41 img{
    position: relative;
    height: 87px;
    width: 86px;
    margin-top: 0.3rem;
}


/* FOOTER */

#foot{
    position: relative;
    width: 100%;
    /* height: 65vh; */
    bottom: 0;
    background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200562882467876914/fbg.png?ex=65e251d0&is=65cfdcd0&hm=abbd6f77f4f970f243b6ce42b7aac5f1d185d64bf62ebc3b2dc8bf9cb39a5e01&=&format=webp&quality=lossless&width=1440&height=312);
    background-size: cover;
}

.l,.bs,.add,.ce{
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.l img{
    height: 10vh;
}

.add,.bs,.ce {
    color: white;
    font-family: 'IBM Plex Serif';
}






/* RESPONSIVENESS */
@media screen and (max-width:1344px){
    .title{
        margin-top: 3rem;
    }

    .srow1{
        margin-top: 4rem;
    }
}

@media screen and (max-width:1248px){
    .srow1 {
        width: 70rem;
    }

    .s1, .s2, .s3, .s4{
        width: 256px;
    }

    .sprow {
        width: 87%;
    }

    /* footer section */

    .add h3, .ce h3, .bs h3{
        font-size: 1.25rem;
    }

    .add p, .ce p, .bs p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1246px){
    #foot {
        height: 46vh;
    }

    .f {
        height: 38vh;
    }
}

@media screen and (max-width:1152px){
    .sprow {
        width: 89.5%;
    }

    .platform {
        width: 17.5rem;
    }

    .co-p {
        width: 36rem;
    }

    .h1{
        font-size: 2rem;
        margin-top: 7rem;
    }

    .h2{
        padding-top: 1.5rem;
        font-size: 1.5rem;
    }

    .srow1{
        width: 68rem;
    }

    .s1, .s2, .s3, .s4{
        height: 166px;
        width: 250px;
    }

    .s1 img{
        height: 55px;
        width: 225px;
    }
    
    .s2 img{
        height: 80px;
        width: 200px;
    }

    .s3 img{
        height: 90px;
        width: 90px;
    }
    
    .s4 img{
        height: 82px;
        width: 82px;
    }

    #foot{
        height: 40vh;
    }
}

@media screen and (max-width:1056px){
    .srow1 {
        width: 62rem;
    }

    .s1, .s2, .s3, .s4 {
        height: 166px;
        width: 223px;
    }

    .title{
        margin-top: 2rem;
    }

    .srow1{
        margin-top: 3rem;
    }

    .s1 img {
        height: 50px;
        width: 199px;
        margin-top: 2rem;
    }

    #foot{
        height: 38vh;
    }
    
        
    
    .add h3, .ce h3, .bs h3{
        font-size: 1rem;
    }
    
    .add p, .ce p, .bs p{
        font-size: 0.7rem;
    }

}

@media screen and (max-width:1024px){
    /* footer section */

    #foot{
        height: 38vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 6.5vh;
    }

    #foot h3{
        font-size: 1rem;
    }

   .add p{
        font-size: .8rem ;
   }

   .ce p{
        font-size: .8rem ;
    }

    .bs p{
        font-size: .8rem ;
    }
}

@media screen and (max-width: 915px){
    #sponsor1{
        display: flex;
    }

    #sponsor{
        display: none;
    }

    .h11{
        font-size: 2.7rem;
        margin-top: 9rem;
        margin-bottom: 1rem;
    }

    .h21{
        padding-top: 2rem;
        font-size: 2rem;
    }

    #foot{
        display: block;
    }

    .h11{
        font-size: 2.5rem;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .title {
        height: 280px;
        width: 33rem;
    }

    .h2t {
        font-size: 2rem;
    }

    .co-p {
        height: 17rem;
        width: 26rem;
        margin-top: 3rem;
    }

    .h2td {
        font-size: 2rem;
    }

    .platform {
        height: 13rem;
        width: 26rem;
        margin-top: 3rem;
    }

    .dh {
        height: 7rem;
        width: 25rem;
    }

    .content {
        margin-top: 1rem;
        width: 24rem;
    }

    .s11, .s21, .s31, .s41{
        margin-top: 3rem;
        height: 198px;
        width: 405px;
    }

    .s11 img{
        height: 67px;
        width: 268px;
    }
    
    .s21 img{
        height: 91px;
        width: 210px;
    }

    .s31 img{
        height: 100px;
        width: 100px;
    }
    
    .s41 img{
        height: 90px;
        width: 90px;
    }

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 0vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 30vh;
    }

    .l img{
        height: 5.5vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

    .bs2 svg{
        height: 15px;
        width: 15px;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media screen and (max-width: 821px){
    .s11, .s21, .s31, .s41{
        margin-top: 2.2rem;
        height: 191px;
        width: 349px;
    }

    .h21{
        padding-top: 1.5rem;
    }

    #foot{
        display: block;
    }

    .h11{
        font-size: 2.5rem;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .title {
        height: 280px;
        width: 33rem;
    }

    .h2t {
        font-size: 2rem;
    }

    .content {
        margin-top: 1rem;
        width: 24rem;
    }

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 22vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 7vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }

}

@media only screen and (max-width:768px){

    /* footer section */

    #foot{
        height: 24vh;
    }

    .f{
        height: 22vh;
    }

    .l,.bs,.add,.ce{
        margin-top: 7vh;
    }

    .l img{
        height: 6vh;
    }

    #foot h3{
        font-size: .9rem;
        font-weight: normal;
    }

   .add p{
        font-size: .65rem ;
        font-weight: normal;
   }

   .ce p{
        font-size: .65rem ;
        font-weight: normal;
    }

    .bs p{
        font-size: .65rem ;
        font-weight: normal;
    }
}

@media screen and (max-width: 540px){
    .h11{
        font-size: 2rem;
    }

    .title {
        width: 28rem;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }
    
    .f{
        position: relative;
        height: 0vh;
        width: 100%;
    }
    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 24vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:450px){
    .h11 {
        font-size: 1.7rem;
    }

    .co-p {
        width: 19rem;
    }

    .content0 {
        width: 15rem;
    }

    .platform {
        width: 19rem;
    }

    .dh {
        height: 6rem;
        width: 19rem;
    }

    .h21 {
        padding-top: 1rem;
    }

    .s11, .s21, .s31, .s41 {
        margin-top: 2.2rem;
        height: 166px;
        width: 300px;
    }

    .s11 img {
        height: 59px;
        width: 235px;
    }

    .s21 img {
        height: 79px;
        width: 190px;
    }

    .s31 img {
        height: 91px;
        width: 91px;
    }

    .s41 img {
        height: 80px;
        width: 81px;
    }

    .s41{
        margin-bottom: 0;
    }
}

@media screen and (max-width:440px) {
    #foot{
        display: block;
    }

    .title {
        height: 340px;
        width: 19rem;
    }

    .h2t{
        padding-top: 0;
        font-size: 2rem;
    }

    .content{
        width: 15.5rem;
    }

    /* FOOTER */

    #foot{
        height: 21vh;
    }
    
    .l,.bs,.add,.ce{
        margin-top: 28vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 10px;
        height: 10px;
    }
    
    .l img{
        position: relative;
        top: 0vh;
        height: 3.5vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 4vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }

    .bs{
        height: 8vh;
    }
    
    .bs1{
        height: 3.5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:415px) {
    .l, .bs, .add, .ce {
        margin-top: 28vh;
    }

    .content0 {
        width: 16rem;
    }
}

@media screen and (max-width:380px){

    #foot{
        display: block;
    }

    .title {
        height: 340px;
        width: 19rem;
    }

    .co-p {
        width: 19rem;
    }

    .platform {
        width: 19rem;
    }

    .dh {
        height: 6rem;
        width: 19rem;
    }

    .h2t{
        padding-top: 0;
        font-size: 2rem;
    }

    .content{
        width: 15.5rem;
    }

    .content0 {
        width: 15rem;
    }

    /* FOOTER */

    #foot{
        height: 23vh;
    }

    
    .l,.bs,.add,.ce{
        height: 7vh;
        margin-top: 27vh;
    }

    #foot h3{
        font-size: 0.6rem;
    }
    
    .icons a{
        position: relative;
    }
    
    .icons svg{
        top: 0.2vh;
        position: absolute;
        width: 1.5vh;
        height: 1.5vh;
    }
    
    .l img{
        position: relative;
        top: 2vh;
        height: 4vh;
    }
    
    .add{
        top: 1vh;
    }

    .ce1{
        height: 6vh;
    }

    .ce p{
        margin-bottom: 0;
    }
    
    .ce a{
        position: relative;
        height: 1.2vh;
    }
    
    .bs1{
        height: 5vh;
    }
    
    .add h3, .bs h3, .ce h3{
        margin-bottom: 0.2rem;
        font-size: 0.5rem;
    } 
    
    .add p, .bs p, .ce p{
        font-size: 0.4rem;
    }
    
}

