:root{
    --primary-color: #5B3803;
    --secondary-color: #CB9235;
    --white-color:#ffffff;
    --primary-font: 'IM Fell DW Pica';
    --secondary-font: 'Cherry Swash';
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #DDC6A2;
    width: 100%;
    height: 60rem;
}

#htm,#psm,#pem{
    display: none;
}

/* SCROLL ANIMATION */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* SCROLL_BAR ANIMATION */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #563c04 #fbe2c4;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #D8AD6C;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #e4d29e98;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #e0cc9569;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #483109;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #5c4103;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #483109;
  }


#all{
    background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200546442780098660/WEBSITE.png?ex=65c69301&is=65b41e01&hm=02af21ec902e97635de49835912d15401a543e1e0359d1c7bf6748c082457a6a&=&format=webp&quality=lossless&width=121&height=565) ;
    background-size: cover;
}

/* NAVBAR SECTION */

.nav2{
    display: none;
}

.container img{
    width: 5rem;
}

.navigation-wrap{
    background-color: #feedbee9;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 1.75rem 0 rgba(65, 59, 59, 0.09);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    padding: 0 0.125rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-nav a{
        transition: 1s;
}

.navbar-nav a:hover{
    transform: scale(1.1);
    z-index: 2;
}

.nav-link{
    font-family:var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color)!important;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 0.175rem 0 #d68c1c66;
    transition: all .15s ease-in-out 0s;
}

/* HOME SECTION */

#home{
    width: 100%;
    height: 105vh;
}

.background-images{
    position: relative;
    display: flex;
}

.background-images img{
    position: absolute;
    width: 100%;
    animation: bounce 5s infinite;
    transition: 0.5s;
}

@keyframes bounce{
    70%{
        transform: translateY(5px);
    }
}

#logo{
    top: 1rem;
    height: 20rem;
    width: 20rem;
}

.background-images h2{
    position: absolute;
    top: 18rem;
    font-family: var(--primary-font);
    color: #5B3803;
    text-align: center;
    line-height: 8vh;
}

.sp{
    animation: y-axis 4s infinite ease-in-out;
}

.pp{
    animation: yp-axis 4s infinite ease-in-out;
}

.snitch{
    position: absolute;
    height: 2.5rem;
    width: 4.5rem;
    margin-left: 3rem;
    margin-top: 6rem ;
    animation:  x-axis 7s infinite linear ;
}

.potter{
    position: absolute;
    margin-left: 85rem;
    margin-top: 6rem ;
    height: 5rem;
    animation:  xp-axis 10s infinite linear ;
}

@keyframes yp-axis{
    50%{
        transform: translateY(280px);
    }
}

@keyframes xp-axis{
    50%{
        transform: translateX(-400px);
    }
}

@keyframes y-axis{
    50%{
        transform: translateY(200px);
    }
}

@keyframes x-axis{
    50%{
        transform: translateX(500px);
    }
}

.btp{
    display: flex; 
    flex-direction: row; 
    justify-content:center; 
    gap: 20px; 
    align-items: center; 
    position: relative; 
    margin-top: 450px;
}

.btn{
    top: 27rem;
    /* position: absolute; */
    height: 4rem;
    width: 15rem;
    font-family: var(--primary-font);
    background-color: #fde3bc6c;
    color: var(--primary-color);
    border: none;
    box-shadow: 2px 2px 8px #5B3803;
}

.btn:hover{
    background-color: #5B3803 !important;
    color: var(--white-color);
}

/* ABOUT SECTION */
#about{
    width: 100%;
    height: 72vh;
}

.as h1{
    position: relative;
    top: 6rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
}



.ap{
    font-family: var(--primary-font);
    color: var(--primary-color);
    letter-spacing: 0.05rem;
    white-space: normal;
    text-align: justify;
    font-size:xx-large;
    padding: 6.6rem 0;
}

/* HACKATHON TRACK SECTION */
#ht{
    background-image:url(https://media.discordapp.net/attachments/1200544298630905906/1200551865910296596/ht_bg.png?ex=65c6980e&is=65b4230e&hm=9e552a94c84156f325164827843234b55e7d239bd8eb41c0299673347372249e&=&format=webp&quality=lossless&width=988&height=565);
    background-size: cover;
    height: 138vh;
}


.ht-sub{
    padding-top: 25vh;
}

.ht-head{
    font-family: var(--primary-font);
    color: var(--white-color);
    font-weight: bold;
}

.t1{
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.t1,.t2 h2{
    font-family: var(--primary-font);
    color: var(--white-color);
}

/* .t11{
    transition: 1s;
}

.t11:hover{
    transform: scale(1.2);
    z-index: 2;
}   */

.bc{
    position: relative;
    transform: translateX(550px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.bc.active{
    transform: translateY(0px);
    opacity: 1;
}

.et{
    position: relative;
    transform: translateX(150px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.et.active{
    transform: translateY(0px);
    opacity: 1;
}

.ht{
    position: relative;
    transform: translateX(-150px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.ht.active{
    transform: translateY(0px);
    opacity: 1;
}

.gam{
    position: relative;
    transform: translateX(-550px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.gam.active{
    transform: translateY(0px);
    opacity: 1;
}

.oi{
    position: relative;
    transform: translateX(550px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.oi.active{
    transform: translateY(0px);
    opacity: 1;
}

.av{
    position: relative;
    transform: translateX(150px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.av.active{
    transform: translateY(0px) translateX(0);
    opacity: 1;
}

.io{
    position: relative;
    transform: translateX(-150px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.io.active{
    transform: translateY(0px) translateX(0);
    opacity: 1;
}

.rp{
    position: relative;
    transform: translateX(-550px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.rp.active{
    transform: translateY(0px);
    opacity: 1;
}

/* PRIZE SECTION */
#pr{
    height: 100vh;
}

.prizes h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 10vh;
}

.tro1,.tro2,.tr03{
    position: relative;
}

.tro3{
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 1.5s ease;
}

.tro3.active{
    transform: translateY(0px);
    opacity: 1;
}

.tro1{
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: all 1.5s ease;
}

.tro1.active{
    transform: translateY(0px);
    opacity: 1;
}

.txt1{
    position: absolute;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 13vh;
    text-shadow: #cb8d3189 1px 0 10px;
}

.trophie h2,h3{
    font-weight: bold;
}

.trophie h2{
    font-size: 3rem;
}

.txt2{
    position: absolute;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 18vh;
    text-shadow: #cb8d3189 1px 0 10px;
}

.txt3{
    position: absolute;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 12vh;
    text-shadow: #cb8d3189 1px 0 10px;
}

/* PAST SPONSORS */
#ps{
    width: 100%;
    height: 215vh;
}

.psp{
    width: 100%;
    padding: 0;
}

.psp1 img{
    width: 100%;
}

.psp2 h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
}

.logos{
    width: 100%;
    height: 70vh;
}

.r1{
    width: 55%;
}

#gfg{
    height: 7vh;
}

#hp{
    height: 7vh;
}

.r2{
    width: 38%;
}

#ashrae,#iste{
    height: 15vh;
}


.r3{
    width: 80%;
}

.r4{
    width: 76%;
}

#fueler,#bee,#polygon,#devfolio{
    height: 7vh;
}

.r5{
    width: 40%;
}

#echo3D, #xyz{
    height: 7vh;
}

#down{
    position: absolute;
    width: 100%;
    margin-top: 27.5rem;
}

#down img{
    width: 100%;
}

#tb{
    top: 5rem;
    height: 70vh;
    position: relative;
}

.btn3{
    top: 4rem;
    bottom: 2rem;
    font-size: 2rem;
    position: relative;
    height: 4rem;
    width: 17rem;
    font-family: var(--primary-font);
    background-color: #fde3bc6c;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    box-shadow: 2px 2px 8px #5B3803;
}

.btn3:hover{
    background-color: #5B3803 !important;
    color: var(--white-color);
}

/* PAST EVENT */
#pe{
    width: 100%;
    height: 250vh;
    overflow: hidden;
}

.pe1{
    width: 152vh;
    height: 200vh;
}

.h h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.col{
    width: 100%;
    height: 100vh;
    margin-top: 7vh;
}

.row1,.row2{
    width: 100%;
}

.row1 img{
    height: 58vh;
    opacity: 0.71;
    filter: contrast(140%) saturate(110%) sepia(20%) brightness(90%);
    transition: 1s;
}

.row1 img:hover{
    opacity: 1;
    filter: none;
}

#ele4{
    position: relative;
    opacity: 0.64;
    height: 46vh;
    filter: contrast(140%) saturate(110%) sepia(20%) brightness(90%);
    transition: 1s;
}

#ele3{
    font-size: 10vh;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele5{
    font-size: 9.5vh;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele6{
    height: 50vh;
    opacity: 0.65;
    filter: contrast(120%) saturate(110%) sepia(10%) brightness(90%);
    transition: 1s;
}

#ele7{
    opacity: 0.80;
    filter: contrast(120%) saturate(100%) sepia(10%) brightness(80%);
    transition: 1s;
}

#ele8{
    font-size: 10vh;
    text-align: center;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele9{
    opacity: 0.63;
    filter: contrast(150%) saturate(110%) sepia(20%) brightness(78%);
    transition: 1s;
}

#ele10{
    font-size: 10vh;
    text-align: center;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele4:hover, #ele6:hover, #ele7:hover, #ele9:hover{
    opacity: 1;
    filter: none;
}

/* FOOTER */

#foot{
    position: relative;
    width: 100%;
    /* height: 65vh; */
    bottom: 0;
    background-image: url(https://media.discordapp.net/attachments/1200544298630905906/1200562882467876914/fbg.png?ex=65c6a250&is=65b42d50&hm=93b904d41a271a2da844ab8b994d13262c63d603620bf0842a8ae288dbba1e16&=&format=webp&quality=lossless&width=1440&height=312);
    background-size: cover;
}

/* .f{
    height: 40vh;
} */

.l,.bs,.add,.ce{
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.l img{
    height: 10vh;
}

.add,.bs,.ce {
    color: white;
    font-family: 'IBM Plex Serif';
}


