:root{
    --primary-color: #5B3803;
    --secondary-color: #CB9235;
    --white-color:#ffffff;
    --primary-font: 'IM Fell DW Pica';
    --secondary-font: 'Cherry Swash';
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(./images/WEBSITE.png) ;
    background-size: cover;
    height: 60rem;
}

#htm,#psm,#pem{
    display: none;
}

/* SCROLL ANIMATION */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* SCROLL_BAR ANIMATION */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #563c04 #fbe2c4;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #D8AD6C;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #e4d29e98;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #e0cc9569;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #483109;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #5c4103;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #483109;
  }
  

/* LOADER  */

#loading{
    /* position: fixed; */
    height: 100vh;
    width: 100vw;
    /* background-image: url(./images/Wireframe\ -\ 7.png);
    background-size: cover; */
    overflow-y: hidden;
    z-index: 1;
}

.bg{
    position: absolute;
    top: 0;
}

.img1{
    top: 0;
    position: fixed;
    height: 100vh;
}

.fadeOut {
    animation: fade 4s; 
 }

 @keyframes fade{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
 }

.img2{
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
}


.ajax-loader, .ajax-loader2, .ajax-loader3, .ajax-loader4 {
    position: absolute;
    transform-origin: 50% 50%;
    font-size: 80px;
    width: 1em;
    height: 3em;
    color: #d31145;
  }
  .ajax-loader .paw, .ajax-loader2 .paw, .ajax-loader3 .paw, .ajax-loader4 .paw {
    width: 1.5em;
    height: 1em;
    animation: 2050ms pawAnimation ease-in-out infinite;
    opacity: 0;
  }
  .ajax-loader .paw svg, .ajax-loader2 .paw svg, .ajax-loader3 .paw svg, .ajax-loader4 .paw svg {
    width: 100%;
    height: 100%;
  }
  .ajax-loader .paw .icon, .ajax-loader2 .paw .icon, .ajax-loader3 .paw .icon, .ajax-loader4 .paw .icon {
    fill: #d31145;
  }
  .ajax-loader .paw:nth-child(odd), .ajax-loader2 .paw:nth-child(odd), .ajax-loader3 .paw:nth-child(odd), .ajax-loader4 .paw:nth-child(odd) {
    transform: rotate(20deg);
  }
  .ajax-loader .paw:nth-child(even), .ajax-loader2 .paw:nth-child(even), .ajax-loader3 .paw:nth-child(even), .ajax-loader4 .paw:nth-child(even) {
    transform: rotate(30deg) scaleX(-1) translate(15%, -50%);
  }
  .ajax-loader .paw:nth-child(1), .ajax-loader2 .paw:nth-child(1), .ajax-loader3 .paw:nth-child(1), .ajax-loader4 .paw:nth-child(1) {
    animation-delay: 2.25s;
    transform: rotate(0deg) translate3d(-4%, -48%, 0);
  }
  .ajax-loader .paw:nth-child(1), .ajax-loader2 .paw:nth-child(1), .ajax-loader3 .paw:nth-child(1), .ajax-loader4 .paw:nth-child(1) {
    animation-delay: 2.25s;
    transform: rotate(-8deg) translate3d(30%, -50%, 0);
  }
  .ajax-loader .paw:nth-child(2), .ajax-loader2 .paw:nth-child(2), .ajax-loader3 .paw:nth-child(2), .ajax-loader4 .paw:nth-child(2) {
    animation-delay: 2s;
    transform: rotate(60deg) scaleX(-1) translate3d(10%, -100%, 0);
  }
  .ajax-loader .paw:nth-child(2), .ajax-loader2 .paw:nth-child(2), .ajax-loader3 .paw:nth-child(2), .ajax-loader4 .paw:nth-child(2) {
    animation-delay: 2s;
    transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
  }
  .ajax-loader .paw:nth-child(3), .ajax-loader2 .paw:nth-child(3), .ajax-loader3 .paw:nth-child(3), .ajax-loader4 .paw:nth-child(3) {
    animation-delay: 1.75s;
    transform: rotate(0deg) translate3d(-12%, -144%, 0);
  }
  .ajax-loader .paw:nth-child(3), .ajax-loader2 .paw:nth-child(3), .ajax-loader3 .paw:nth-child(3), .ajax-loader4 .paw:nth-child(3) {
    animation-delay: 1.75s;
    transform: rotate(0deg) translate3d(45%, -144%, 0);
  }
  .ajax-loader .paw:nth-child(4), .ajax-loader2 .paw:nth-child(4), .ajax-loader3 .paw:nth-child(4), .ajax-loader4 .paw:nth-child(4) {
    animation-delay: 1.5s;
    transform: rotate(60deg) scaleX(-1) translate3d(20%, -200%, 0);
  }
  .ajax-loader .paw:nth-child(4), .ajax-loader2 .paw:nth-child(4), .ajax-loader3 .paw:nth-child(4), .ajax-loader4 .paw:nth-child(4) {
    animation-delay: 1.5s;
    transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
  }
  .ajax-loader .paw:nth-child(5), .ajax-loader2 .paw:nth-child(5), .ajax-loader3 .paw:nth-child(5), .ajax-loader4 .paw:nth-child(5) {
    animation-delay: 1.25s;
    transform: rotate(0deg) translate3d(-20%, -240%, 0);
  }
  .ajax-loader .paw:nth-child(5), .ajax-loader2 .paw:nth-child(5), .ajax-loader3 .paw:nth-child(5), .ajax-loader4 .paw:nth-child(5) {
    animation-delay: 1.25s;
    transform: rotate(0deg) translate3d(40%, -240%, 0);
  }
  .ajax-loader .paw:nth-child(6), .ajax-loader2 .paw:nth-child(6), .ajax-loader3 .paw:nth-child(6), .ajax-loader4 .paw:nth-child(6) {
    animation-delay: 1s;
    transform: rotate(60deg) scaleX(-1) translate3d(30%, -300%, 0);
  }
  .ajax-loader .paw:nth-child(6), .ajax-loader2 .paw:nth-child(6), .ajax-loader3 .paw:nth-child(6), .ajax-loader4 .paw:nth-child(6) {
    animation-delay: 1s;
    transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
  }
  .ajax-loader .paw:nth-child(7), .ajax-loader2 .paw:nth-child(7), .ajax-loader3 .paw:nth-child(7), .ajax-loader4 .paw:nth-child(7) {
    animation-delay: 0.75s;
    transform: rotate(0deg) translate3d(-28%, -336%, 0);
  }
  .ajax-loader .paw:nth-child(7), .ajax-loader2 .paw:nth-child(7), .ajax-loader3 .paw:nth-child(7), .ajax-loader4 .paw:nth-child(7) {
    animation-delay: 0.75s;
    transform: rotate(1deg) translate3d(7%, -336%, 0);
  }
  .ajax-loader .paw:nth-child(8), .ajax-loader2 .paw:nth-child(8), .ajax-loader3 .paw:nth-child(8), .ajax-loader4 .paw:nth-child(8) {
    animation-delay: 0.5s;
    transform: rotate(60deg) scaleX(-1) translate3d(40%, -400%, 0);
  }
  .ajax-loader .paw:nth-child(8), .ajax-loader2 .paw:nth-child(8), .ajax-loader3 .paw:nth-child(8), .ajax-loader4 .paw:nth-child(8) {
    animation-delay: 0.5s;
    transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
  }
  .ajax-loader .paw:nth-child(9), .ajax-loader2 .paw:nth-child(9), .ajax-loader3 .paw:nth-child(9), .ajax-loader4 .paw:nth-child(9) {
    animation-delay: 0.25s;
    transform: rotate(0deg) translate3d(-36%, -432%, 0);
  }
  .ajax-loader .paw:nth-child(10), .ajax-loader2 .paw:nth-child(10), .ajax-loader3 .paw:nth-child(10), .ajax-loader4 .paw:nth-child(10) {
    animation-delay: 0s;
    transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
  }
  .no-cssanimations .ajax-loader .paw, .no-cssanimations .ajax-loader2 .paw, .no-cssanimations .ajax-loader3 .paw, .no-cssanimations .ajax-loader4 .paw {
    opacity: 1;
  }
  
  .ajax-loader {
    position: fixed;
    top: 5%;
    left: 10%;
    transform: rotate(10deg) translate(-50%, 0%);
  }
  
  .ajax-loader2 {
    position: fixed;
    top: 5%;
    right: 25%;
    transform: rotate(-10deg) translate(-50%, 0%);
  }
  
  .ajax-loader3 {
    position: fixed;
    top: 60%;
    left: 25%;
    transform: rotate(150deg) translate(-50%, 0%);
  }
  
  .ajax-loader4 {
    position: fixed;
    top: 60%;
    right: 14%;
    transform: rotate(200deg) translate(-50%, 0%);
  }
  
  @keyframes pawAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes path1 {
    0% {
      transform: rotate(0deg) scaleX(-1) translate3d(0%, -50%, 0);
    }
    30% {
      transform: rotate(20deg) scaleX(-1) translate3d(-35%, -60%, 0);
    }
    100% {
      transform: rotate(20deg) scaleX(-1) translate3d(0%, -80%, 0);
    }
  }


#all{display: none;}

/* NAVBAR SECTION */

.container img{
    width: 5rem;
}

.navigation-wrap{
    background-color: rgba(238, 210, 169, 0.297);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 1.75rem 0 rgba(65, 59, 59, 0.09);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    padding: 0 0.125rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-nav a{
        transition: 1s;
}

.navbar-nav a:hover{
    transform: scale(1.1);
    z-index: 2;
}

.nav-link{
    font-family:var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color)!important;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 0.175rem 0 #d68c1c66;
    transition: all .15s ease-in-out 0s;
}

/* HOME SECTION */

#home{
    width: 100%;
    height: 110vh;
}

.background-images{
    position: relative;
    display: flex;
}

.background-images img{
    position: absolute;
    width: 100%;
    animation: bounce 5s infinite;
    transition: 0.5s;
}

@keyframes bounce{
    70%{
        transform: translateY(5px);
    }
}

#logo{
    top: 1rem;
    height: 20rem;
    width: 20rem;
}

.background-images h2{
    position: absolute;
    top: 18rem;
    font-family: var(--primary-font);
    color: #5B3803;
    text-align: center;
    line-height: 8vh;
}

.sp{
    animation: y-axis 4s infinite ease-in-out;
}

.pp{
    animation: yp-axis 4s infinite ease-in-out;
}

.snitch{
    position: absolute;
    height: 2.5rem;
    width: 4.5rem;
    margin-left: 3rem;
    margin-top: 6rem ;
    animation:  x-axis 7s infinite linear ;
}

.potter{
    position: absolute;
    margin-left: 85rem;
    margin-top: 6rem ;
    height: 5rem;
    animation:  xp-axis 10s infinite linear ;
}

@keyframes yp-axis{
    50%{
        transform: translateY(280px);
    }
}

@keyframes xp-axis{
    50%{
        transform: translateX(-400px);
    }
}

@keyframes y-axis{
    50%{
        transform: translateY(200px);
    }
}

@keyframes x-axis{
    50%{
        transform: translateX(500px);
    }
}

.btp{
    display: flex; 
    flex-direction: row; 
    justify-content:center; 
    gap: 20px; 
    align-items: center; 
    position: relative; 
    margin-top: 450px;
}

.btn{
    top: 27rem;
    /* position: absolute; */
    height: 4rem;
    width: 15rem;
    font-family: var(--primary-font);
    background-color: #fde3bc6c;
    color: var(--primary-color);
    border: none;
    box-shadow: 2px 2px 8px #5B3803;
}

.btn:hover{
    background-color: #5B3803 !important;
    color: var(--white-color);
}

/* ABOUT SECTION */
#about{
    width: 100%;
    height: 61vh;
}

.as h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
}



.as p{
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: justify;
    font-size:xx-large;
    padding: 2rem 0rem 0;
}

/* HACKATHON TRACK SECTION */
#ht{
    background-image:url(./images/ht\ bg.png);
    background-size: cover;
    height: 138vh;
}


.ht-sub{
    padding-top: 25vh;
}

.ht-head{
    font-family: var(--primary-font);
    color: var(--white-color);
    font-weight: bold;
}

.t1{
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.t1,.t2 h2{
    font-family: var(--primary-font);
    color: var(--white-color);
}

/* .t11{
    transition: 1s;
}

.t11:hover{
    transform: scale(1.2);
    z-index: 2;
}   */

.bc{
    position: relative;
    transform: translateX(550px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.bc.active{
    transform: translateY(0px);
    opacity: 1;
}

.et{
    position: relative;
    transform: translateX(150px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.et.active{
    transform: translateY(0px);
    opacity: 1;
}

.ht{
    position: relative;
    transform: translateX(-150px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.ht.active{
    transform: translateY(0px);
    opacity: 1;
}

.gam{
    position: relative;
    transform: translateX(-550px) translateY(110px);
    opacity: 0;
    transition: all 2s ease;
}

.gam.active{
    transform: translateY(0px);
    opacity: 1;
}

.oi{
    position: relative;
    transform: translateX(550px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.oi.active{
    transform: translateY(0px);
    opacity: 1;
}

.av{
    position: relative;
    transform: translateX(150px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.av.active{
    transform: translateY(0px) translateX(0);
    opacity: 1;
}

.io{
    position: relative;
    transform: translateX(-150px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.io.active{
    transform: translateY(0px) translateX(0);
    opacity: 1;
}

.rp{
    position: relative;
    transform: translateX(-550px) translateY(-110px);
    opacity: 0;
    transition: all 2s ease;
}

.rp.active{
    transform: translateY(0px);
    opacity: 1;
}

/* PRIZE SECTION */
#pr{
    height: 100vh;
}

.prizes h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 10vh;
}

.tro1,.tro2,.tr03{
    position: relative;
}

.tro3{
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 1.5s ease;
}

.tro3.active{
    transform: translateY(0px);
    opacity: 1;
}

.tro1{
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: all 1.5s ease;
}

.tro1.active{
    transform: translateY(0px);
    opacity: 1;
}

.txt1{
    position: absolute;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 13vh;
    text-shadow: #cb8d3189 1px 0 10px;
}

.trophie h2,h3{
    font-weight: bold;
}

.txt2{
    position: absolute;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 18vh;
    text-shadow: #cb8d3189 1px 0 10px;
}

.txt3{
    position: absolute;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 12vh;
    text-shadow: #cb8d3189 1px 0 10px;
}

/* PAST SPONSORS */
#ps{
    width: 100%;
    height: 200vh;
}

.psp{
    width: 100%;
    padding: 0;
}

.psp1 img{
    width: 100%;
}

.psp2 h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
}

.logos{
    width: 100%;
    height: 70vh;
}

.r1{
    width: 55%;
}

#gfg{
    height: 7vh;
}

#hp{
    height: 7vh;
}

.r2{
    width: 38%;
}

#ashrae,#iste{
    height: 15vh;
}


.r3{
    width: 80%;
}

.r4{
    width: 76%;
}

#fueler,#bee,#polygon,#devfolio{
    height: 7vh;
}

.r5{
    width: 40%;
}

#echo3D, #xyz{
    height: 7vh;
}

#down{
    position: absolute;
    width: 100%;
    margin-top: 52vh;
}

#down img{
    width: 100%;
}

#tb{
    height: 70vh;
    position: relative;
}

/* PAST EVENT */
#pe{
    width: 100%;
    height: 250vh;
    overflow: hidden;
}

.pe1{
    width: 152vh;
    height: 200vh;
}

.h h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.col{
    width: 100%;
    height: 100vh;
    margin-top: 7vh;
}

.row1,.row2{
    width: 100%;
}

.row1 img{
    height: 58vh;
    opacity: 0.71;
    filter: contrast(140%) saturate(110%) sepia(20%) brightness(90%);
    transition: 1s;
}

.row1 img:hover{
    opacity: 1;
    filter: none;
}

#ele4{
    position: relative;
    opacity: 0.64;
    height: 46vh;
    filter: contrast(140%) saturate(110%) sepia(20%) brightness(90%);
    transition: 1s;
}

#ele3{
    font-size: 10vh;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele5{
    font-size: 9.5vh;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele6{
    height: 50vh;
    opacity: 0.65;
    filter: contrast(120%) saturate(110%) sepia(10%) brightness(90%);
    transition: 1s;
}

#ele7{
    opacity: 0.80;
    filter: contrast(120%) saturate(100%) sepia(10%) brightness(80%);
    transition: 1s;
}

#ele8{
    font-size: 10vh;
    text-align: center;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele9{
    opacity: 0.63;
    filter: contrast(150%) saturate(110%) sepia(20%) brightness(78%);
    transition: 1s;
}

#ele10{
    font-size: 10vh;
    text-align: center;
    font-family: var(--primary-font) !important;
    color: var(--primary-color);
}

#ele4:hover, #ele6:hover, #ele7:hover, #ele9:hover{
    opacity: 1;
    filter: none;
}

/* FOOTER */

#foot{
    position: relative;
    width: 100%;
    height: 65vh;
    bottom: 0;
    background-image: url(./images/fbg.png);
    background-size: cover;
}

.f{
    height: 45vh;
}

.l,.bs,.add,.ce{
    margin-top: 35vh;
}

.l img{
    height: 10vh;
}

.add,.bs,.ce {
    color: white;
    font-family: 'IBM Plex Serif';
}